<div class="row" style="height: 50%">
    <div class="col-6">
        <app-call-statistics [skill]="35" [multi]=true [phase]="0"></app-call-statistics>
    </div>
    <div class="col-6">
        <app-call-statistics [skill]="7" [multi]=true [phase]="5"></app-call-statistics>
    </div>
</div>
<div class="row" style="height: 50%">
    <div class="col-6">
        <app-call-statistics [skill]="55" [multi]=true [phase]="10"></app-call-statistics>
    </div>
    <div class="col-6">
        <app-call-statistics [skill]="73" [multi]=true [phase]="15"></app-call-statistics>
    </div>
</div>