<div *ngIf="showContents">

  <div class="container-fluid">
    <!-- TITLE -->
    <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn">
      <div class="container">
        <div class="d-flex justify-content-between">
          <div>
            <span><h1 class="display-3">HeadCount</h1></span>
            <p class="lead">Plazas por Unidad de Negocio / Area / Departamento / Puesto</p>
          </div>
          <div>
            <img src="assets/img/bePriceBCO.png" height="150" width="150" alt="">
          </div>
        </div>

      </div>
      <br>
      <div class='container'>
        <div class="d-flex justify-content-start">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="false" [checked]="!viewFuture" (click)="chgViewFuture()"> Mostrar al día de Hoy
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="true" [checked]="viewFuture" (click)="chgViewFuture()"> Mostrar 15 dias adelante
            </label>
          </div>
        </div>
        <div *ngIf="infoVacantes || listData">
          <div class="d-flex justify-content-end" *ngIf="(infoVacantesSliced && !showAlias) || listFlag">
            <div class="mr-auto">
              <button type="button" class="btn btn-sm btn-info" (click)="showList()">
                <ng-container *ngIf="!listFlag">
                  Mostrar Listado
                </ng-container>
                <ng-container *ngIf="listFlag">
                  Mostrar Bloques
                </ng-container>
              </button>
              <button type="button" class="btn btn-sm btn-warning" (click)="downloadCSV( 'headCount' )">Descargar</button>
              <button type="button" class="btn btn-sm btn-success" (click)="showAddVacante()" *ngIf="currentUser.credentials['vacant_solicitar'] == 1">Solicitar Vacante</button>
            </div>
            <div class=""><span class="badge badge-success badge-pill">HeadCount</span></div>
            <div class=""><span class="badge badge-warning badge-pill">Vacantes</span></div>
            <div class=""><span class="badge badge-primary badge-pill">Pendientes Aprobar</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

  <!-- breadcrums -->
    <nav class="breadcrumb" style="margin-bottom: 5px;">
      <a class="breadcrumb-item" [routerLink]="['/vacantes', showType]" *ngIf="routeParams.udn">Inicio</a>
      <span class="breadcrumb-item active" *ngIf="!routeParams.udn">Inicio</span>
      <a class="breadcrumb-item" [routerLink]="['/vacantes', showType,routeParams.udn]" *ngIf="routeParams.udn && routeParams.area">{{ routeParams.udn.replace('/ ', '') }}</a>
      <span class="breadcrumb-item active" *ngIf="routeParams.udn && !routeParams.area">{{ routeParams.udn.replace('/ ', '') }}</span>
      <a class="breadcrumb-item" [routerLink]="['/vacantes', showType,routeParams.udn, routeParams.area]" *ngIf="routeParams.area && routeParams.dep">{{ routeParams.area.replace('/ ', '') }}</a>
      <span class="breadcrumb-item active" *ngIf="routeParams.area && !routeParams.dep">{{ routeParams.area.replace('/ ', '') }}</span>
      <a class="breadcrumb-item" [routerLink]="['/vacantes', showType,routeParams.udn, routeParams.area,routeParams.dep]" *ngIf="routeParams.dep && routeParams.puesto">{{ routeParams.dep.replace('/ ', '') }}</a>
      <span class="breadcrumb-item active" *ngIf="routeParams.dep && !routeParams.puesto">{{ routeParams.dep.replace('/ ', '') }}</span>
      <a class="breadcrumb-item" [routerLink]="['/vacantes', showType,routeParams.udn, routeParams.area,routeParams.dep, routeParams.puesto]" *ngIf="routeParams.puesto && routeParams.alias">{{ routeParams.puesto.replace('/ ', '') }}</a>
      <span class="breadcrumb-item active" *ngIf="routeParams.puesto && !routeParams.alias">{{ routeParams.puesto.replace('/ ', '') }}</span>
      <span class="breadcrumb-item active" *ngIf="routeParams.alias">{{ routeParams.alias.replace('/ ', '') }}</span>
    </nav>
    <!-- <div class="d-flex flex-column-reverse">
      <button type="button" class="p-2 btn btn-sm btn-outline-primary" style="cursor: pointer">Ver Todo</button>
    </div> -->
    <!-- Actual... Futuras -->

    <button type="button" class="btn btn-outline-primary btn-block" (click)="getVacantes()" [disabled]=" loadingVacantes " *ngIf="loadingVacantes">Loading Vacantes <i class="fa fa-spinner fa-pulse fa-fw"></i></button>
    <div *ngIf="infoVacantes || listData">
    <ng-container *ngIf="!listFlag">
      <!-- cards por Unidad de Negocio -->
      <div class="row" *ngIf="infoVacantesSliced && !showPuestos">
        <div class="col-sm-4" *ngFor="let key of infoVacantesSliced.Partes | keys">
          <div class="card" style="margin-top: 20px">
            <div class="card-header d-flex justify-content-end" [routerLink]="[baseRoute,key]">
              <h3 class="card-title mr-auto p-2">{{ key=="" ? "Sin Departamento" : key }}</h3>
              <span class="text-right p-2">
                <span class="badge badge-success badge-pill" *ngIf="infoVacantesSliced.Totales[key].HC">{{ infoVacantesSliced.Totales[key].HC === 'undefined' ? "0" : infoVacantesSliced.Totales[key].HC }}</span>
                <span class="badge badge-warning badge-pill" *ngIf="infoVacantesSliced.Totales[key].Vacantes">{{ infoVacantesSliced.Totales[key].Vacantes === 'undefined' ? "0" : infoVacantesSliced.Totales[key].Vacantes }}</span>
                <span class="badge badge-primary badge-pill" *ngIf="infoVacantesSliced.Totales[key].Pendientes">{{ infoVacantesSliced.Totales[key].Pendientes === 'undefined' ? "0" : infoVacantesSliced.Totales[key].Pendientes }}</span>
              </span>
            </div>
            <div class="card-block">
              <ul class="list-group">
                <li [routerLink]="routeParams.puesto ? [baseRoute, key] : [baseRoute, key, deps]" class="list-group-item justify-content-between" *ngFor="let deps of infoVacantesSliced.Partes[key].Totales | keys">
                  {{ deps }}
                  <span>
                    <span class="badge badge-success badge-pill" *ngIf="infoVacantesSliced.Partes[key].Totales[deps].HC">{{ infoVacantesSliced.Partes[key].Totales[deps].HC === 'undefined' ? "0" : infoVacantesSliced.Partes[key].Totales[deps].HC }}</span>
                    <span class="badge badge-warning badge-pill" *ngIf="infoVacantesSliced.Partes[key].Totales[deps].Vacantes">{{ infoVacantesSliced.Partes[key].Totales[deps].Vacantes === 'undefined' ? "0" : infoVacantesSliced.Partes[key].Totales[deps].Vacantes }}</span>
                    <span class="badge badge-primary badge-pill" *ngIf="infoVacantesSliced.Partes[key].Totales[deps].Pendientes">{{ infoVacantesSliced.Partes[key].Totales[deps].Pendientes === 'undefined' ? "0" : infoVacantesSliced.Partes[key].Totales[deps].Pendientes }}</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin de Cards por Unidad de Negocio -->

      <!-- cards por Puesto (Alias) -->
      <div class="row" *ngIf="infoVacantesSliced && showPuestos">
        <div class="col-sm-4" *ngFor="let key of infoVacantesSliced.Partes | keys">
          <div class="card" style="margin-top: 20px">
            <div class="card-header d-flex justify-content-end" [routerLink]="[baseRoute,key]">
              <h3 class="card-title mr-auto p-2">{{ key=="" ? "Sin Departamento" : key }}</h3>
              <span class="text-right p-2">
                <span class="badge badge-success badge-pill" *ngIf="infoVacantesSliced.Totales[key].HC">{{ infoVacantesSliced.Totales[key].HC === 'undefined' ? "0" : infoVacantesSliced.Totales[key].HC }}</span>
                <span class="badge badge-warning badge-pill" *ngIf="infoVacantesSliced.Totales[key].Vacantes">{{ infoVacantesSliced.Totales[key].Vacantes === 'undefined' ? "0" : infoVacantesSliced.Totales[key].Vacantes }}</span>
                <span class="badge badge-primary badge-pill" *ngIf="infoVacantesSliced.Totales[key].Pendientes">{{ infoVacantesSliced.Totales[key].Pendientes === 'undefined' ? "0" : infoVacantesSliced.Totales[key].Pendientes }}</span>
              </span>
            </div>
            <div class="card-block">
              <ul class="list-group">
                <li [routerLink]="[baseRoute, key]" class="list-group-item justify-content-between">
                  Cubiertas
                  <span>
                    <span class="badge badge-success badge-pill">{{ infoVacantesSliced.Totales[key].HC ? (infoVacantesSliced.Totales[key].HC - (infoVacantesSliced.Totales[key].Vacantes ? infoVacantesSliced.Totales[key].Vacantes : 0)) : "0" }}</span>
                  </span>
                </li>
                <li [routerLink]="[baseRoute, key]" class="list-group-item justify-content-between">
                  Vacantes
                  <span>
                    <span class="badge badge-warning badge-pill">{{ infoVacantesSliced.Totales[key].Vacantes ? infoVacantesSliced.Totales[key].Vacantes : "0" }}</span>
                  </span>
                </li>
                <li [routerLink]="[baseRoute, key]" class="list-group-item justify-content-between">
                  Inactivas
                  <span>
                    <span class="badge badge-danger badge-pill">{{ infoVacantesSliced.Totales[key].Inactivas ? infoVacantesSliced.Totales[key].Inactivas : "0" }}</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin de Cards por Puesto -->

      <!-- Inicio Cards por Vacante (Alias) -->
      <div *ngIf="((infoVacantesSliced && !showPuestos && showAlias)) || viewALL">
        <div *ngFor="let status of infoVacantesSliced | keys">
          <h3>{{ status }}</h3>
          <hr>
          <div class="row d-flex justify-content-center">
            <div class="card-group" *ngFor="let id of infoVacantesSliced[status] | keys">
              <div class="card mb-3" style="width: 20rem; margin-left: 20px" [ngClass]="aliasClass( status )">
                <div class="card-block" style="padding: 0px 5px 0px 5px">
                  <p class="d-flex justify-content-end">
                    <small class=""><span class="badge badge-primary"># {{ infoVacantesSliced[status][id].id }}</span></small>
                    <small class=""><span class="badge badge-info">{{ infoVacantesSliced[status][id].ciudad }}</span></small>
                    <small class="ml-auto"><span class="badge badge-info">{{ infoVacantesSliced[status][id].Codigo }}</span></small>
                  </p>
                  <p class="d-flex justify-content-end">
                    <small class="mr-auto"><span class="badge badge-info">{{ infoVacantesSliced[status][id].inicio | date:"dd-MM-yyyy" }} - {{ infoVacantesSliced[status][id].fin | date:"dd-MM-yyyy" }}</span></small>
                    <small *ngIf="infoVacantesSliced[status][id].Activo == 1"><span class="badge badge-success">Activa</span></small>
                    <small *ngIf="infoVacantesSliced[status][id].Activo == 0"><span class="badge badge-danger">Inactiva</span></small>
                    <small *ngIf="infoVacantesSliced[status][id].Status == 1"><span class="badge badge-success">Aprobada</span></small>
                    <small *ngIf="infoVacantesSliced[status][id].Status == 0"><span class="badge badge-warning">Pendiente</span></small>
                    <small *ngIf="infoVacantesSliced[status][id].Status == 2"><span class="badge badge-danger">Inactiva</span></small>
                  </p>
                  <blockquote class="card-blockquote">
                    <p *ngIf="status == 'Cubiertas'" style="cursor: pointer" (click)="showAsesorDetail(infoVacantesSliced[status][id].asesorID)" ><i class="fa fa-user fa-fw"></i> {{ infoVacantesSliced[status][id].Asesor_Actual }}</p>
                    <p *ngIf="status == 'Vacantes'"><i class="fa fa-search fa-fw"></i> Liberada el: {{ infoVacantesSliced[status][id].libre | date:"dd-MM-yyyy" }}</p>
                    <p>
                      <i class="fa fa-calendar-check-o fa-fw"></i>
                      <small *ngIf="infoVacantesSliced[status][id].Aprobada_por != '' && status != 'Inactivas'">
                        Aprobada por: {{ infoVacantesSliced[status][id].Aprobada_por }} el {{ infoVacantesSliced[status][id].Fecha_Aprobacion | date:"dd-MM-yyyy" }}
                      </small>
                      <small *ngIf="infoVacantesSliced[status][id].Desactivada_por != '' && status == 'Inactivas'">
                        Desactivada por: {{ infoVacantesSliced[status][id].Desactivada_por }} el {{ infoVacantesSliced[status][id].Fecha_Desactivacion | date:"dd-MM-yyyy" }}
                      </small>
                    </p>
                    <footer><cite><i class="fa fa-quote-right fa-fw"></i>
                      <small *ngIf="status != 'Inactivas'">{{ infoVacantesSliced[status][id].comentarios }}</small>
                      <small *ngIf="status == 'Inactivas'">{{ infoVacantesSliced[status][id].Comentarios_desactivacion }}</small>
                    </cite></footer>
                  </blockquote>
                  <p class="d-flex justify-content-end">
                    <small><span class="badge badge-secondary ">{{ infoVacantesSliced[status][id].oficina }}</span></small>
                    <small class="ml-auto" *ngIf="currentUser.credentials['vacant_editar'] == 1 || currentUser.credentials['vacant_solicitar'] == 1">
                      <button
                              type="button"
                              class="btn btn-sm btn-warning"
                              style="padding: 0"
                              *ngIf="currentUser.credentials['vacant_editar'] == 1"
                      >
                        <i class="fa fa-pencil fa-fw"></i>
                      </button>
                      <button
                              type="button"
                              class="btn btn-sm btn-danger"
                              style="padding: 0"
                              *ngIf="currentUser.credentials['vacant_solicitar'] == 1 && (status == 'Vacantes' || status == 'Pendientes')"
                              (click)="showDeactivateVacante( infoVacantesSliced[status][id].id )"
                      >
                        <!-- Agregar acción con parametro de status para borrar pendientes o desactivar vacantes -->
                        <i class="fa fa-times fa-fw"></i>
                      </button>
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin Cards por Vacante (Alias) -->
    </ng-container>
    <ng-container *ngIf="listFlag">
      <div class="container-fluid" style="overflow: auto">
        <table class="table-responsive table-striped">
          <thead>
            <tr>
              <th>Action</th>
              <th>Pic</th>
              <th *ngFor="let header of listHeaders">{{ header.replace('_',' ') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listData | keys">
              <td><button
                      type="button"
                      class="btn btn-sm btn-danger"
                      style="padding: 0"
                      *ngIf="currentUser.credentials['vacant_solicitar'] == 1 && (listData[item]['Vacantes'] == 'Vacante' || listData[item]['Aprobacion'] == 'Pendiente')"
                      (click)="showDeactivateVacante( listData[item]['id'] )"
                      >
                    <i class="fa fa-times fa-fw"></i>
                  </button>
                </td>
              <td scope="row"><img alt='image' class='img rounded img-fluid' style='margin: auto; cursor: zoom-in' src="{{ image }}{{listData[item]['num_colaborador']}}.jpg" (error)="updateImg(listData[item]['num_colaborador'])"></td>
              <th scope="row">{{ listData[item].id }}</th>
              <ng-container *ngFor="let header of listHeaders">
                <td *ngIf="header != 'id'">{{ listData[item][header] }}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>

  </div>

<!-- Modal Asesor Detalles -->
<div class="modal hide fade" id="detailAsesor" tabindex="-1" role="dialog" aria-labelledby="DetalleAsesor" aria-hidden="true">
  <div class="modal-dialog modal-detailAsesores" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailAsesorLabel">Detalle del Asesor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-show-detail-asesor (showDialog)="showAsesorChildDialog($event)"></app-show-detail-asesor>
      </div>

    </div>
  </div>
</div>

<!-- Formulario Cambio de Puesto -->
<div class="modal hide fade" id="form_cambioPuesto" tabindex="-1" role="dialog" aria-labelledby="form_cambioPuesto" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form_cambioPuestoLabel">Cambio de Puesto</h5>
        <button type="button" class="close" (click)="showDialogReturnParent('#form_cambioPuesto')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-cambio-puesto (closeDialog)="showDialogReturnParent($event)" (save)="retrieveAgain($event)"></app-cambio-puesto>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="form_editDetails" tabindex="-1" role="dialog" aria-labelledby="form_editDetails" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form_editDetailsLabel">Editar Detalles</h5>
        <button type="button" class="close" (click)="showDialogReturnParent('#form_editDetails')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-edit-details (closeDialog)="showDialogReturnParent($event)" (save)="retrieveAgain($event)"></app-edit-details>
      </div>
    </div>
  </div>
</div>

<!-- Modal Set Baja -->
<div class="modal hide fade" id="form_setBaja" tabindex="-1" role="dialog" aria-labelledby="form_setBaja" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form_setBajaLabel">Registrar Baja <small>{{ titleBaja }}</small></h5>
        <button type="button" class="close" (click)="showDialogReturnParent('#form_setBaja')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-set-baja (closeDialog)="showDialogReturnParent($event)" (save)="retrieveAgain($event)"></app-set-baja>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add CxC -->
<div class="modal hide fade" id="form_addCxc" tabindex="-1" role="dialog" aria-labelledby="form_addCxc" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form_addCxcLabel">Registrar CxC</h5>
        <button type="button" class="close" (click)="showDialogReturnParent('#form_addCxc')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-agregar-cxc (closeDialog)="showDialogReturnParent($event)" (save)="retrieveAgain($event)"></app-agregar-cxc>
      </div>
    </div>
  </div>
</div>

<!-- Modal Saldar CxC -->
<div class="modal hide fade" id="form_saldarCxc" tabindex="-1" role="dialog" aria-labelledby="form_saldarCxc" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form_saldarCxcLabel">Saldar CxC</h5>
        <button type="button" class="close" (click)="showDialogReturnParent('#form_saldarCxc')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-saldar-cxc (closeDialog)="showDialogReturnParent($event)" (save)="retrieveAgain($event)"></app-saldar-cxc>
      </div>
    </div>
  </div>
</div>

<!-- Modal Apply CxC -->
<div class="modal hide fade" id="form_applyCxc" tabindex="-1" role="dialog" aria-labelledby="form_applyCxc" aria-hidden="true">
  <div class="modal-dialog modal-detailAsesores" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form_applyCxcLabel">Aplicar CxC</h5>
        <button type="button" class="close" (click)="showDialogReturnParent('#form_applyCxc')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-apply-cxc (closeDialog)="showDialogReturnParent($event)" (save)="retrieveAgain($event)"></app-apply-cxc>
      </div>
    </div>
  </div>
</div>

<!-- Modal Detalle Sanciones -->
<div class="modal hide fade" id="form_detalleSanciones" tabindex="-1" role="dialog" aria-labelledby="form_detalleSanciones" aria-hidden="true">
  <div class="modal-dialog modal-detailAsesores" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form_detalleSancionesLabel">Detalle Sanciones</h5>
        <button type="button" class="close" (click)="showDialogReturnParent('#form_detalleSanciones')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-sanciones (closeDialog)="showDialogReturnParent($event)" ></app-sanciones>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add Vacante -->
<div class="modal hide fade" id="form_addVacante" tabindex="-1" role="dialog" aria-labelledby="form_addVacante" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form_addVacanteLabel">Solicitar Vacante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-vacante (showDialog)="showAsesorChildDialog($event)" (save)="showMopers($event)"></app-add-vacante>
      </div>
    </div>
  </div>
</div>

<!-- Modal Desactivar Vacante -->
<div class="modal hide fade" id="form_DeactivateVacante" tabindex="-1" role="dialog" aria-labelledby="form_DeactivateVacante" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form_DeactivateVacanteLabel">Desactivar Vacante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-deactivate-vacante (showDialog)="showAsesorChildDialog($event)" (save)="retrieveAgainVac($event)"></app-deactivate-vacante>
      </div>
    </div>
  </div>
</div>

<!-- Mopers savedMopers -->
<div class="modal fade" id="moperOK" tabindex="-1" role="dialog" aria-labelledby="MopersGuardados" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MopersGuardados">Mopers Guardados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Folios: {{ savedMopers | json }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
