<h1 *ngIf="loading['data']">Loading <i class="fas fa-spinner fa-pulse"></i></h1>
<div class="container-fluid" *ngIf="dataTable">

    <mat-tab-group dynamicHeight>
        <mat-tab *ngFor="let skills of dataTable | orderBy: 'dep'">
            <ng-template mat-tab-label>
                <span class="text-dark">{{ skills['dep'] }}</span>
            </ng-template>
            <div>

                <mat-tab-group dynamicHeight>
                    <ng-container *ngFor="let group of skills['data'] | orderBy: 'group'">
                        <mat-tab *ngIf="skills['data'].length > 2 || group['group']=='all'">
                            <ng-template mat-tab-label>
                                <span class="text-dark">{{ group['group'] }}</span>
                            </ng-template>
                            <div>

                                <table style="font-size: smaller" class='table table-sm table-bordered table-striped'>
                                    <thead class="thead-light">
                                        <tr>
                                            <th *ngFor="let item of fields" class='text-center'>{{ item['name'] }}</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <ng-container *ngFor="let date of group['data'] | orderBy: 'date'">
                                            <tr *ngIf="date['date'] != 'Total'">
                                                <td *ngFor="let item of fields" class='text-center'>
                                                    <span [ngSwitch]="item['tipo']">
                                              <span *ngSwitchCase="'fecha'">{{ date['date'] }}</span>
                                                    <span *ngSwitchCase="'monto'">{{ date['data'][item['field']] | currency:'MXN':'symbol-narrow':'.2-2' }}</span>
                                                    <span *ngSwitchCase="'perc'">{{ (date['data'][item['field']] * 100) | number:'.0-2' }}%</span>
                                                    <span *ngSwitchCase="'numero'">{{ date['data'][item['field']] | number:'.0-2' }}</span>
                                                    <span *ngSwitchCase="'texto'">{{ date['data'][item['field']] }}</span>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class='table-primary' *ngIf="date['date'] == 'Total'">
                                                <th *ngFor="let item of fields" class='text-center'>
                                                    <span [ngSwitch]="item['tipo']">
                                              <span *ngSwitchCase="'fecha'">{{ date['date'] }}</span>
                                                    <span *ngSwitchCase="'monto'">{{ date['data'][item['field']] | currency:'MXN':'symbol-narrow':'.2-2' }}</span>
                                                    <span *ngSwitchCase="'perc'">{{ (date['data'][item['field']] * 100) | number:'.0-2' }}%</span>
                                                    <span *ngSwitchCase="'numero'">{{ date['data'][item['field']] | number:'.0-2' }}</span>
                                                    <span *ngSwitchCase="'texto'"></span>
                                                    </span>
                                                </th>
                                            </tr>
                                        </ng-container>
                                    </thead>
                                </table>

                            </div>
                        </mat-tab>
                    </ng-container>
                </mat-tab-group>

            </div>
        </mat-tab>
    </mat-tab-group>

</div>