<div class="alert alert-danger" role="alert" *ngIf="!showContents">
  <p>No cuentas con los permisos para poder visualizar este módulo. Por favor contacta a <span class="font-weight-bold">WFM</span> si necesitas accesos.</p>
</div>
<div class="container-fluid" *ngIf="showContents">
  <div class="row">

    <!-- FILTERS -->
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          Call Statistics
        </div>
        <div class="card-body">

          <div class="row">

            <div class="col d-flex justify-content-between align-items-center">

              <!-- Fecha -->
              <div class="p-2 text-center">
                <p><ui-switch
                  color="green"
                  size= "small"
                  [(ngModel)]="monitor"
                  (change)="refresh( $event, 'live' )"
                ></ui-switch></p>
                <p><small>Live!</small></p>
              </div>

              <div class="form-inline" *ngIf="!monitor">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="chgDate()" [displayMonths]="1">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <i class="fas fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="p-2 d-flex align-items-center" *ngIf="skills">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-info">
                  <span>{{ skills[skill]['Dep'] }}</span>
                </button>
                <button type="button" class="btn btn-sm btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item" type="button" (click)="chgDep( item )" *ngFor="let item of (skills | orderBy: 'Dep') | keys">{{ skills[item]['Dep'] }}</button>
                </div>
              </div>
            </div>


            <!-- RESUMEN -->
            <div class=" col d-flex justify-content-center align-items-center p-1 text-center">
              <h4 class='text-center'>Resumen</h4>
            </div>
            <div class="col text-center p-1">
              <p class="p-2">Ofrecidas</p>
              <span class="badge badge-primary ml-auto" [style.width.px]="80">{{ total ? total['ofrecidas'] : 0 | number:'.0-0'}}</span>
            </div>
            <div class="col text-center p-1">
              <p class="p-2">Contestadas</p>
              <span class="badge badge-success ml-auto p-2" [style.width.px]="80">
                <p>{{ total ? total['contestadas'] : 0 | number:'.0-0'}}</p>
                <p>{{ total ? ((total['contestadas']/total['ofrecidas']*100) | number:'.0-2') : 0 | number:'.0-2'}}%</p>
              </span>
            </div>
            <div class="col text-center p-1">
              <p class="p-2">Abandonadas</p>
              <span class="badge badge-danger ml-auto p-2" [style.width.px]="80">
                <p>{{ total ? total['abandonadas'] : 0 | number:'.0-0'}}</p>
                <p>{{ total ? ((total['abandonadas']/total['ofrecidas']*100) | number:'.0-2') : 0 | number:'.0-2'}}%</p>
              </span>
            </div>
            <div class="col text-center p-1">
              <p class="p-2">Part PDV</p>
              <span class="badge badge-info ml-auto p-2" [style.width.px]="80">
                <p>{{ total ? total['PDV'] : 0 | number:'.0-0'}}</p>
                <p>{{ (total ? ((total['PDV'] ? total['PDV'] : 0) / total['contestadas'] * 100) : 0) | number:'.0-2'}}%</p>
              </span>
            </div>

          </div>

        </div>
        <div class="card-footer text-muted">
          Mostrando: <span *ngIf="!loading['data']">{{ dateSelected }}</span><span *ngIf="loading['data']"><i class="fas fa-spinner fa-2x fa-pulse text-primary"></i></span> || Last Update: {{ lu }} <span *ngIf="monitor">|| Reload in {{ timeCount }} seg.</span>
        </div>
      </div>
    </div>

  </div>

  <!-- CONTENIDO -->
  <app-graph-call-stats [data]="data" [date]="date" [h]="dataH"></app-graph-call-stats>


</div>
