<div *ngIf="showContents">

    <div class="container-fluid">
        <!-- TITLE -->
        <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <span><h1 class="display-3">Reporte de Venta PDV</h1></span>
                        <p class="lead">Venta por PDV por día y su desgloce por producto</p>
                    </div>
                </div>
            </div>
            <br>
            <div class='container'>
                <div class="d-flex justify-content-start">
                    <div class="form-group p-2" *ngIf="!tdInfo">
                        <div class="input-group" daterangepicker (selected)="dateChange($event.start, $event.end)">
                            <input type='text' class="form-control uneditable-input" name="daterange" value="" id="datepicker" style="font-size: smaller">
                            <span class="input-group-btn">
                      <button type="button" class="btn btn-secondary"><i class="fa fa-calendar fa-fw"></i></button>
                  </span>
                        </div>
                    </div>
                    <div style="text-align: center" class="p-2">
                        <ui-switch color="green" size="small" [(ngModel)]="soloVenta"></ui-switch>
                        <p style="margin-top: -10px">
                            <small *ngIf="soloVenta">Solo Venta</small>
                            <small *ngIf="!soloVenta">Venta y Cxl</small>
                        </p>
                    </div>
                    <div style="text-align: center" class="p-2">
                        <ui-switch color="green" size="small" [(ngModel)]="isPaq"></ui-switch>
                        <p style="margin-top: -10px">
                            <small *ngIf="!isPaq">Paq Desglozado</small>
                            <small *ngIf="isPaq">Paquete</small>
                        </p>
                    </div>
                    <div style="text-align: center" class="p-2">
                        <ui-switch color="green" size="small" [(ngModel)]="isAsesor"></ui-switch>
                        <p style="margin-top: -10px">
                            <small *ngIf="!isAsesor">Por PDV</small>
                            <small *ngIf="isAsesor">Por Asesor</small>
                        </p>
                    </div>
                    <div style="text-align: center" class="p-2">
                        <ui-switch color="green" size="small" [(ngModel)]="isTotal"></ui-switch>
                        <p style="margin-top: -10px">
                            <small *ngIf="!isTotal">Por Dia</small>
                            <small *ngIf="isTotal">Total</small>
                        </p>
                    </div>
                    <div class="p-2">
                        <button type="button" class="btn btn-success" (click)="search()" [disabled]="(!tdInfo && !searchStart && !searchEnd) || loading['data']">Buscar</button>
                    </div>
                    <div class="p-2 ml-auto">
                        <button type="button" class="btn btn-warning" *ngIf="ventaData" (click)="downloadXLS('ventaData', dwlTitle())">Descargar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h2 *ngIf="loading['data']"><i class="fa fa-fw fa-spinner fa-pulse"></i> Loading...</h2>
        <table class="table table-sm table-responsive-sm table-bordered table-striped table-hover" style="font-size: smaller" id='ventaData' *ngIf="ventaData">
            <thead>
                <tr>
                    <th class="text-center" scope="col" *ngIf="ventaData[0]['Total'] == '1'">Fechas</th>
                    <th class="text-center" scope="col" *ngIf="ventaData[0]['Total'] == '0'">Fecha</th>
                    <th class="text-center" scope="col" *ngIf="ventaData[0]['Total'] == '0'">DOW</th>
                    <th class="text-center" scope="col" *ngIf="ventaData[0]['Total'] == '0'">Año</th>
                    <th class="text-center" scope="col" *ngIf="ventaData[0]['Total'] == '0'">Mes</th>
                    <th class="text-center" scope="col" *ngIf="ventaData[0]['Total'] == '0'">Día</th>
                    <th class="text-center" scope="col">Ciudad</th>
                    <th class="text-center" scope="col" *ngIf="!ventaData[0]['Nombre']">PDV</th>
                    <th class="text-center" scope="col" *ngIf="!ventaData[0]['Nombre']">PDV Name</th>
                    <th class="text-center" scope="col" *ngIf="ventaData[0]['Nombre']">Asesor</th>
                    <th class="text-center" scope="col">Supervisor</th>
                    <th class="text-center" scope="col">Monto Shop</th>
                    <th class="text-center" scope="col">Monto Otro<br>Canal</th>
                    <th class="text-center" scope="col">Monto Total</th>
                    <th class="text-center" scope="col">Monto Hotel</th>
                    <th class="text-center" scope="col">Monto Vuelo</th>
                    <th class="text-center" scope="col">Monto Paquete</th>
                    <th class="text-center" scope="col">Monto Otros</th>
                    <th class="text-center" scope="col">Locs Total</th>
                    <th class="text-center" scope="col">Locs Hotel</th>
                    <th class="text-center" scope="col">Locs Vuelo</th>
                    <th class="text-center" scope="col">Locs Paquete</th>
                    <th class="text-center" scope="col">Locs Otros</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ventaData">
                    <th class="text-center" *ngIf="ventaData[0]['Total'] == '1'">{{ printDate( searchStart, "YYYY-MM-DD" ) }} a {{ printDate( searchEnd, "YYYY-MM-DD" ) }}</th>
                    <th class="text-center" *ngIf="ventaData[0]['Total'] == '0'">{{ item['Fecha'] == 'Total' ? 'Total' : printDate( item['Fecha'], "YYYY-MM-DD" ) }}</th>
                    <th class="text-center" *ngIf="ventaData[0]['Total'] == '0'">{{ item['Fecha'] == 'Total' ? '' : printDate( item['Fecha'], "dddd" ) }}</th>
                    <th class="text-center" *ngIf="ventaData[0]['Total'] == '0'">{{ item['Fecha'] == 'Total' ? '' : printDate( item['Fecha'], "YYYY" ) }}</th>
                    <th class="text-center" *ngIf="ventaData[0]['Total'] == '0'">{{ item['Fecha'] == 'Total' ? '' : printDate( item['Fecha'], "MMMM" ) }}</th>
                    <th class="text-center" *ngIf="ventaData[0]['Total'] == '0'">{{ item['Fecha'] == 'Total' ? '' : printDate( item['Fecha'], "DD" ) }}</th>
                    <td class="text-center">{{ item['Ciudad'] }}</td>
                    <td class="text-center" *ngIf="!ventaData[0]['Nombre']">{{ item['PDV'] }}</td>
                    <td class="text-center" *ngIf="!ventaData[0]['Nombre']">{{ item['PdvName'] }}</td>
                    <td class="text-center" *ngIf="ventaData[0]['Nombre']">{{ item['Nombre'] }}</td>
                    <td class="text-center">{{ item['Supervisor'] }}</td>
                    <td class="text-center">{{ coalesce(item['MontoShop'],0) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                    <td class="text-center">{{ coalesce(item['MontoOtrosCanales'],0) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                    <td class="text-center">{{ coalesce(item['Monto'],0) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                    <td class="text-center">{{ coalesce(item['MontoHotel'],0) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                    <td class="text-center">{{ coalesce(item['MontoVuelo'],0) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                    <td class="text-center">{{ coalesce(item['MontoPaquete'],0) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                    <td class="text-center">{{ coalesce(item['MontoOtros'],0) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                    <td class="text-center">{{ coalesce(item['Localizadores'],0) }}</td>
                    <td class="text-center">{{ coalesce(item['LocalizadoresHotel'],0) }}</td>
                    <td class="text-center">{{ coalesce(item['LocalizadoresVuelo'],0) }}</td>
                    <td class="text-center">{{ coalesce(item['LocalizadoresPaquete'],0) }}</td>
                    <td class="text-center">{{ coalesce(item['LocalizadoresOtros'],0) }}</td>
                </tr>
            </tbody>
        </table>
    </div>



</div>