<div class="container-fluid" *ngIf="calls">

  <!-- TITULO -->
  <div class="alert alert-info text-center m-0 d-flex justify-content-start align-items-center row" role="alert">
    <div class="m-1">
      <span class="ml-auto  badge badge-light border border-info badge-pill d-flex justify-content-end align-items-center">
        <span class="mr-auto m-1 fa-stack fa-lg">
          <i class="fa fa-phone-square text-primary fa-2x"></i>
        </span>
        <span class="m-1 p-1 mr-3">
          <span *ngIf="setQueue.length == 1" style="font-size: medium">{{ printQueue( setQueue ) }} <small class="text-info">x.{{ setQueue[0] }}</small></span>
          <span *ngIf="setQueue.length > 1" style="font-size: medium">{{ title }}</span>
        </span>
      </span>
    </div>
    <div class="ml-auto m1 row" *ngIf="sumDisplay">

        <div class="d-flex justify-content-start align-items-center">
          <span class="ml-auto  badge badge-light border border-info badge-pill d-flex justify-content-around align-items-center" [style.width.px]="120">
            <span class="m-1 fa-stack fa-lg">
              <i class="fa fa-sign-in fa-flip-horizontal fa-stack-1x text-info"></i>
              <i class="fa fa-circle-o fa-stack-2x text-info"></i>
            </span>
            <span class="m-1">
              {{ summary['IN'] }}
            </span>
          </span>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <span class="ml-auto  badge badge-light border border-info badge-pill d-flex justify-content-around align-items-center" [style.width.px]="120">
            <span class="m-1 fa-stack fa-lg">
              <i class="fa fa-sign-out fa-stack-1x text-primary"></i>
              <i class="fa fa-circle-o fa-stack-2x text-primary"></i>
            </span>
            <span class="m-1">
              {{ summary['OUT'] }}
            </span>
          </span>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <span class="ml-auto  badge badge-light border border-info badge-pill d-flex justify-content-around align-items-center" [style.width.px]="120">
            <span class="m-1 fa-stack fa-lg">
              <i class="fa fa-ellipsis-h fa-stack-1x text-info"></i>
              <i class="fa fa-circle-o fa-stack-2x text-warning"></i>
            </span>
            <span class="animated flash infinite" *ngIf="summary['Waiting']>=3"><i class="fa fa-fw fa-exclamation-circle text-danger"></i></span>
            <span class="m-1">
              {{ summary['Waiting'] }}
            </span>
          </span>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <span class="ml-auto  badge badge-light border border-info badge-pill d-flex justify-content-around align-items-center" [style.width.px]="120">
            <span class="m-1 fa-stack fa-lg">
              <i class="fa fa-fw fa-user fa-2x text-success"></i>
            </span>
            <span class="m-1">
              {{ summary['Online'] }}
            </span>
          </span>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <span class="ml-auto  badge badge-light border border-info badge-pill d-flex justify-content-around align-items-center" [style.width.px]="120">
            <span class="m-1 fa-stack fa-lg">
              <i class="fa fa-user fa-stack-1x text-secondary"></i>
              <i class="fa fa-circle-o fa-stack-2x text-danger"></i>
            </span>
            <span class="m-1">
              {{ summary['Busy'] }}
            </span>
          </span>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <span class="ml-auto  badge badge-light border border-info badge-pill d-flex justify-content-around align-items-center" [style.width.px]="120">
            <span class="m-1 fa-stack fa-lg">
              <i class="fa fa-user fa-stack-1x text-success"></i>
              <i class="fa fa-circle-o fa-stack-2x text-primary"></i>
            </span>
            <span class="m-1">
              {{ summary['Avail'] }}
            </span>
          </span>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <span class="ml-auto  badge badge-light border border-info badge-pill d-flex justify-content-around align-items-center" [style.width.px]="120">
            <span class="m-1 fa-stack fa-lg">
              <i class="fa fa-user fa-stack-1x text-success"></i>
              <i class="fa fa-ban fa-stack-2x text-warning"></i>
            </span>
            <span class="animated flash infinite" *ngIf="summary['Paused']>=5"><i class="fa fa-fw fa-exclamation-circle text-danger"></i></span>
            <span class="m-1">
              {{ summary['Paused'] }}
            </span>
          </span>
        </div>

    </div>
  </div>

  <div class="row">

    <!-- LLAMADAS EN ESPERA -->
    <div class="col-sm-3 m-1 mr-0" *ngIf="waitDisplay">

      <div class="card" style="max-width: 350px">
        <div class="card-header">Llamadas en Espera</div>
        <div class="card-body">
          <ul class="list-group">
            <ng-container *ngFor="let item of calls | keys">
              <li class="list-group-item" *ngIf="calls[item].answered == '0' && queueWait( calls[item].queue, setQueue )">
                <div class="d-flex justify-content-end align-items-center">
                  <span class="mr-auto">{{ item }}</span>
                  <span class="badge badge-primary badge-pill" [style.width.px]="75">{{ getDuration( calls[item].entered ) }}</span>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                  <span class="badge badge-warning badge-pill"><small>{{ printQueue( calls[item].queue ) }}</small></span>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>

    </div>

    <!-- CALLS DISPLAY -->
    <div class="col" *ngIf="callsDisplay">

      <div class="row pl-2">

        <!-- Por Llamada -->
        <ng-container *ngFor="let dep of orderedDeps | keys">
          <ng-container *ngFor="let agent of orderedDeps[dep] | keys">
            <div class="d-flex justify-content-start" *ngIf="queueBelong( loggedAgents[orderedDeps[dep][agent]['code']]['qs'], setQueue )">

              <!-- TARJETA LLAMADA / ASESOR -->
              <div
                class="card m-1"
                [ngClass]="{'mr-0': waitDisplay, 'ml-2': !waitDisplay}"
                [style.width.px]="200">

                  <!-- HEADER ASESOR -->
                  <div
                    [ngClass]="colorHeader( orderedDeps[dep][agent]['code'], getInfo( orderedDeps[dep][agent]['code'], 'queue' ), detailDisplay )"
                    class="card-header"
                    style="font-size: smaller">

                    <!-- INFO ASESOR -->
                    <div class="d-flex justify-content-start align-items-center">
                      <ng-container *ngIf="callsData.Agents[orderedDeps[dep][agent]['code']]; else ElseBlockAgent">
                        <span>{{ callsData.Agents[orderedDeps[dep][agent]['code']].name }}</span>
                      </ng-container>
                      <ng-template #ElseBlockAgent>
                        <span>{{ orderedDeps[dep][agent]['code'] }}</span>
                      </ng-template>
                    </div>

                    <!-- BADGE DEPARTAMENTO Y EXT -->
                    <div class="d-flex justify-content-between align-items-center p-0">

                      <!-- BADGE DEPARTAMENTO -->
                      <div class="p-0">
                        <span
                        class="badge"
                        [ngClass]="{'bg-secondary ': printDep( callsData.Agents[orderedDeps[dep][agent]['code']].name, 'color' ) == null}"
                        [style.background]="printDep( callsData.Agents[orderedDeps[dep][agent]['code']].name, 'color' )">
                          <small>{{ printDep( callsData.Agents[orderedDeps[dep][agent]['code']].name ) }}</small>
                        </span>
                      </div>

                      <!-- FLAG FOR REDUCED DISPLAY -->
                      <div class="p-0" *ngIf="!detailDisplay &&
                      ( (getInfo( orderedDeps[dep][agent]['code'], 'caller' ) && getDuration( getInfo( orderedDeps[dep][agent]['code'], 'answered' ), 's' ) > 550) || (!getInfo( orderedDeps[dep][agent]['code'], 'caller' ) && getDuration( getPause( orderedDeps[dep][agent]['code'], 'time' ), 's', true ) > pauseLimits[getPause( orderedDeps[dep][agent]['code'], 'pause' )]) )">
                      <small *ngIf="getInfo( orderedDeps[dep][agent]['code'], 'caller' ) && getDuration( getInfo( orderedDeps[dep][agent]['code'], 'answered' ), 's' ) > 550">
                        <span style="font-size:smaller" class="badge badge-danger badge-pill animated flash infinite mr-2">AHT</span>
                      </small>
                      <small *ngIf="!getInfo( orderedDeps[dep][agent]['code'], 'caller' ) && getDuration( getPause( orderedDeps[dep][agent]['code'], 'time' ), 's', true ) > pauseLimits[getPause( orderedDeps[dep][agent]['code'], 'pause' )]">
                        <span style="font-size:smaller" class="badge badge-danger badge-pill animated flash infinite mr-2">Pausa</span>
                      </small>
                    </div>

                    <!-- FLAG THIS DEP CALL -->
                    <div class="p-0" *ngIf="setQueue.length == 1 && getInfo( orderedDeps[dep][agent]['code'], 'queue' ) == setQueue[0]">
                        <span class="badge badge-success badge-pill ml-auto" ><i class="fa fa-fw fa-flag"></i></span>
                      </div>

                    <!-- BADGE EXT -->
                    <div class="p-0">
                      <span class="badge badge-light badge-pill p-1" >x.{{ callsData.Agents[orderedDeps[dep][agent]['code']].ext }}</span>
                    </div>


                    </div>

                  </div>

                  <!-- CUERPO DE TARJETA -->
                  <div *ngIf="detailDisplay"
                    [ngClass]="colorHeader( orderedDeps[dep][agent]['code'], getInfo( orderedDeps[dep][agent]['code'], 'queue' ) )"
                    class="card-body "
                    style="font-size: smaller">

                    <!-- BLOQUE LLAMADA -->
                    <ng-container *ngIf="getInfo( orderedDeps[dep][agent]['code'], 'caller' ); else ElseBlockCaller">

                      <!-- LLAMANTE -->
                      <div class="d-flex justify-content-between align-items-center pt-2" style="font-size: smaller">
                        <span class="text-white">{{ getInfo( orderedDeps[dep][agent]['code'], 'caller' ) }}</span>
                        <ng-container *ngIf="getInfo( orderedDeps[dep][agent]['code'], 'answered' ) != '0'">
                          <span class="badge badge-danger badge-pill animated flash infinite" *ngIf="getDuration( getInfo( orderedDeps[dep][agent]['code'], 'answered' ), 's' ) > 550">AHT</span>
                          <span class="badge badge-primary badge-pill border border-info" [style.width.px]="55">{{ getDuration( getInfo( orderedDeps[dep][agent]['code'], 'answered' ) ) }}</span>
                        </ng-container>
                        <ng-container *ngIf="getInfo( orderedDeps[dep][agent]['code'], 'answered' ) == '0'">
                          <span *ngIf="getDuration( getInfo( orderedDeps[dep][agent]['code'], 'answered' ), 's' ) > 550"><i class="fa fa-fw fa-spinner fa-pulse text-warning"></i></span>
                          <span class="badge badge-primary badge-pill border border-info" [style.width.px]="55">{{ getDuration( getInfo( orderedDeps[dep][agent]['code'], 'entered' ) ) }}</span>
                        </ng-container>
                      </div>

                      <!-- COLA -->
                      <div class="d-flex justify-content-start align-items-center pt-2" style="font-size: smaller">
                        <span class="mr-auto text-white">{{ printQueue( getInfo( orderedDeps[dep][agent]['code'], 'queue' ) ) }}</span>
                      </div>
                    </ng-container>

                    <!-- BLOQUE SIN LLAMADA -->
                    <ng-template #ElseBlockCaller>

                      <!-- DISPLAY PAUSA -->
                      <ng-container *ngIf="loggedAgents[orderedDeps[dep][agent]['code']]['On pause'] != '-'; else ElsePause">

                        <!-- STATUS PAUSA -->
                        <div class="d-flex justify-content-end align-items-center pt-2" style="font-size: smaller">
                          <span class="mr-auto">Pausado</span>
                          <span class="badge badge-danger badge-pill animated flash infinite mr-2"
                            *ngIf="getDuration( getPause( orderedDeps[dep][agent]['code'], 'time' ), 's', true ) > pauseLimits[getPause( orderedDeps[dep][agent]['code'], 'pause' )]">
                              Pausa
                          </span>
                          <span class="badge badge-primary badge-pill" [style.width.px]="55">{{ getPause( orderedDeps[dep][agent]['code'], 'time' ) }}</span>
                        </div>

                        <!-- TIPO DE PAUSA -->
                        <div class="d-flex justify-content-start align-items-center pt-2" style="font-size: smaller">
                          <span>{{ getPause( orderedDeps[dep][agent]['code'], 'pause' ) }}</span>
                        </div>
                      </ng-container>

                      <!-- DISPLAY DISPONIBLE -->
                      <ng-template #ElsePause>
                        <div class="d-flex justify-content-start align-items-center pt-2" style="font-size: smaller">
                          <span>Disponible</span>
                          <span class="badge badge-primary badge-pill ml-auto" [style.width.px]="55">{{ loggedAgents[orderedDeps[dep][agent]['code']]['Free Since'] }}</span>
                        </div>
                        <div class="d-flex justify-content-start align-items-center pt-2" style="font-size: smaller">
                          <span></span>
                        </div></ng-template>
                    </ng-template>

                  </div>

                  <!-- FOOTER COLAS -->
                  <div class="card-footer" *ngIf="setQueue.length>1 && queueDisplay">
                    <div class="row">

                        <!-- CADA COLA -->
                        <ng-container *ngFor="let qs of setQueue">
                          <div class="d-flex justify-content-start align-items-center" *ngIf="title!= 'All' || (title == 'All' && queueBelong( loggedAgents[orderedDeps[dep][agent]['code']]['qs'], [qs] ))">
                            <span
                              placement="bottom"
                              [ngbTooltip]="printQueue( qs )"
                              class="badge"
                              [ngClass]="{
                                  'bg-success': getInfo( orderedDeps[dep][agent]['code'], 'queue' ) == qs && queueBelong( loggedAgents[orderedDeps[dep][agent]['code']]['qs'], [qs] ),
                                  'bg-info': getInfo( orderedDeps[dep][agent]['code'], 'queue' ) != qs && queueBelong( loggedAgents[orderedDeps[dep][agent]['code']]['qs'], [qs] ),
                                  'bg-light text-dark border border-secondary': !queueBelong( loggedAgents[orderedDeps[dep][agent]['code']]['qs'], [qs] )
                                }">
                              <small>{{ qs }}</small>
                            </span>
                          </div>
                        </ng-container>




                    </div>
                  </div>

              </div>

            </div>
          </ng-container>
        </ng-container>

      </div>

    </div>

  </div>

</div>
