<div *ngIf="showContents">

    <div class="container-fluid">
        <!-- TITLE -->
        <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn">
            <div class="container">
                <span><h1 class="display-3">Cuartiles</h1></span>
                <p class="lead">Cuartilización del periodo seleccionado</p>
            </div>
            <br>
            <div class='container'>
                <div class="d-flex justify-content-start">
                    <div class="form-group p-2">
                        <select class="custom-select" [(ngModel)]="pcrcSelected" (change)="changePcrc($event.target.value)">
              <option value="" *ngIf="!loading['pcrcs']">Selecciona el Departamento</option>
              <option value="" *ngIf="loading['pcrcs']"><i class="fas fa-spinner fa-pulse"></i> Loading PCRCs</option>
              <option [value]="dept.dep" *ngFor="let dept of pcrcList | orderBy: 'Departamento'">{{ dept.Departamento }}</option>
            </select>
                    </div>
                    <div class="form-group p-2">
                        <div class="input-group" daterangepicker (selected)="dateChange($event.start, $event.end)">
                            <input type='text' class="form-control uneditable-input" name="daterange" value="" id="datepicker" autocomplete="off">
                            <span class="input-group-btn">
                      <a type="button" class="btn btn-secondary"><i class="fa fa-calendar fa-fw"></i></a>
                  </span>
                        </div>
                    </div>
                    <div class="p-2">
                        <button type="button" class="btn btn-success" *ngIf="skill!='' && searchStart && searchEnd" (click)="getCuartiles(searchStart, searchEnd, skill)" [disabled]="loading['cuartiles']">Buscar <span *ngIf="loading['cuartiles']"><i class="fas fa-spinner fa-pulse"></i></span></button>
                    </div>
                    <div class="ml-auto p-2">
                        <button type="button" class="btn btn-warning text-white m-1" *ngIf="cData" (click)="downloadXLS( 'cuartiles', 'cuartiles', cData )">Descargar</button>
                        <button type="button" class="btn btn-warning text-white m-1" *ngIf="cData" (click)="downloadXLS( 'cuartilesPorFecha', 'cuartilesPorFecha', allData )">Descargar por día</button>
                    </div>
                </div>
                <div class='container'>
                    <div class="d-flex justify-content-start">
                        <div style="text-align: center" class="p-2">
                            <ui-switch color="green" size="small" [(ngModel)]="par['SV']"></ui-switch>
                            <p style="margin-top: -10px">
                                <small *ngIf="par['SV']">Solo Venta</small>
                                <small *ngIf="!par['SV']">Venta y Cxl</small>
                            </p>
                        </div>
                        <div style="text-align: center" class="p-2">
                            <ui-switch color="green" size="small" [(ngModel)]="par['Paq']"></ui-switch>
                            <p style="margin-top: -10px">
                                <small *ngIf="!par['Paq']">Paq Desglozado</small>
                                <small *ngIf="par['Paq']">Paquete</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h3 *ngIf="loading['cuartiles']" class="text-info">Loading <i class="fas fa-spinner fa-pulse"></i></h3>

        <div class="container-fluid" style="overflow: auto" *ngIf="cData">
            <div class='p-2'>
                <ngx-table [configuration]="config" [data]="cData" [columns]="columns">
                    <ng-template let-row>
                        <td class="row__email" *ngFor="let item of columns">
                            <span [ngSwitch]="item['type']">
                                <span style="font-size: smaller" *ngSwitchCase="'default'">
                                    <span>{{ row[item['key']] }}</span>
                            </span>
                            <span style="font-size: smaller" *ngSwitchCase="'ammount'">
                                    <span>{{ row[item['key']] | currency:'MXN':'symbol-narrow':'.2-2' }}</span>
                            </span>
                            <span style="font-size: smaller" *ngSwitchCase="'dec'">
                                    <span>{{ row[item['key']] | number:'.2-2' }}</span>
                            </span>
                            <span style="font-size: smaller" *ngSwitchCase="'perc'">
                                    <span>{{ (row[item['key']] * 100) | number:'.0-2' }}%</span>
                            </span>
                            <span *ngSwitchDefault><span style="font-size: smaller">{{row[item['key']]}}</span></span>
                            </span>
                        </td>
                    </ng-template>
                </ngx-table>
            </div>
        </div>
    </div>