<div class="container-fluid">
  <p *ngIf="loading && !data">Loading <i class="fa fa-fw fa-spinner fa-pulse"></i></p>

  <div>
    <div class="d-flex justify-content-start">
      <button type="button" class="m-2 btn btn-success" (click)="getAgents()">Load Agents</button>
      <button type="button" class="m-2 btn btn-success" (click)="getAll()">LoadAll</button>
      <button type="button" class="m-2 btn btn-success" (click)="getRtCalls( searchBlock )">Load</button>
      <button type="button" class="m-2 btn" [ngClass]="{'btn-outline-success': loop, 'btn-outline-secondary': !loop}" (click)="loopChg()"><span *ngIf="loop">ON</span><span *ngIf="!loop">OFF</span></button>
      <input type="text" name="block" [(ngModel)]="searchBlock">
      <div style="text-align: center" class="p-2">
        <ui-switch
        color="green"
        size= "small"
        [(ngModel)]="waitDisplay"
        ></ui-switch>
        <p style="margin-top: -10px">
          <small *ngIf="waitDisplay">Wait ON</small>
          <small *ngIf="!waitDisplay">Wait Off</small>
        </p>
      </div>
      <p><small> <i class="fa fa-fw fa-spinner fa-pulse" *ngIf="loading"></i></small></p>
    </div>
    <hr>
    <div class="container-fluid" *ngIf="data">

      <ng-container *ngIf="loadedBlock['RealtimeDO.RtCallsRaw']">
        <app-calls-procesed
          [waitDisplay]="waitDisplay"
          [deps]="deps"
          [setQueue]="searchBlock"
          [callsData]="{
              Raw: data['RealtimeDO.RtCallsRaw'],
              Board: data['RealTimeDO.WallCallsBeingProc'],
              AgentsLogged: data['RealtimeDO.RTAgentsLoggedIn'],
              Queues: queues,
              All: data,
              Agents: agents }"
          *ngIf="agents && queues && deps"
              >
        </app-calls-procesed>
      </ng-container>
      <!-- <ng-container *ngFor="let report of loadedBlock | keys">
        <ng-container *ngIf="loadedBlock[report]">
          <h1>{{ report }}</h1><p><small>Última Actualización: {{ formatDate( luBlock[report], "DD MMM 'YY kk:mm:ss" ) }}</small></p>

          <table class="table table-sm table-responsive">
            <thead>
              <tr>
                <th *ngFor="let item of data[report][0]">{{ item }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let row of data[report]; index as i">
                <tr *ngIf="i!=0">
                  <td *ngFor="let item of data[report][i]">{{ item }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>

        </ng-container>
      </ng-container> -->
    </div>



  </div>


</div>
