<!-- Form Cambio Puesto -->
        <form class="form-group" [formGroup]="formCambioPuesto" (ngSubmit)="askCambio()">

          <!-- Fecha Cambio -->
          <div class="form-group row">
            <label class="col-4 col-form-label">Fecha de Cambio</label>
            <div class="col-8 input-group">
              <span class="input-group-addon">
                <i class="fa fa-calendar fa-fw"></i>
              </span>
              <input
                daterangepicker
                formControlName="fechaCambio"
                [options]="singlePicker"
                (selected)="setVal($event.start, 'fechaCambio')"
                class="form-control uneditable-input" type="text" value="">
            </div>
          </div>

          <!-- Ciudad -->
          <div *ngIf="flagLoading['ciudad']">
            <button type="button" class="btn btn-outline-primary btn-block" disabled><i class="fa fa-spinner fa-pulse fa-fw"></i> Cargando</button>
          </div>
          <div class="form-group row" *ngIf="formCambioPuesto.controls['fechaCambio'].valid && flagExists['ciudad'] && !flagLoading['ciudad']">
            <label class="col-4 col-form-label">Ciudad</label>
            <div class="col-8 input-group">
              <!-- <select #cPFciudad class="custom-select" id="form_cP_ciudad" ngModel name="ciudad" (ngModelChange)="puestoChange( cPFfecha.value, mainInput, 'ciudad', $event.id)"> -->
              <span class="input-group-addon">
                <i class="fa fa-map-marker fa-fw"></i>
              </span>
              <select class="custom-select" style="max-width: 257px; min-width: 257px;"
                      formControlName="ciudad"
                      >
                <option value="">Selecciona...</option>
                <option *ngFor="let ciudad of listOptions.ciudad" [value]="ciudad.id">{{ ciudad.name }}</option>
              </select>
            </div>
          </div>

          <!-- Oficina -->
          <div *ngIf="flagLoading['oficina']">
            <button type="button" class="btn btn-outline-primary btn-block" disabled><i class="fa fa-spinner fa-pulse fa-fw"></i> Cargando</button>
          </div>
          <div class="form-group row" *ngIf="formCambioPuesto.controls['ciudad'].valid && flagExists['oficina'] && !flagLoading['oficina']">
            <label class="col-4 col-form-label">Oficina</label>
            <div class="col-8 input-group">
              <span class="input-group-addon">
                <i class="fa fa-building-o fa-fw"></i>
              </span>
              <select class="custom-select" style="max-width: 257px; min-width: 257px;"
                      formControlName="oficina"
                      >
                <option value="">Selecciona...</option>
                <option *ngFor="let oficina of listOptions.oficina" [value]="oficina.id">{{ oficina.name }}</option>
              </select>
            </div>
          </div>

          <!-- Departamento -->
          <div *ngIf="flagLoading['departamento']">
            <button type="button" class="btn btn-outline-primary btn-block" disabled><i class="fa fa-spinner fa-pulse fa-fw"></i> Cargando</button>
          </div>
          <div class="form-group row" *ngIf="formCambioPuesto.controls['ciudad'].valid && flagExists['departamento'] && !flagLoading['departamento']">
            <label class="col-4 col-form-label">Departamento</label>
            <div class="col-8 input-group">
              <span class="input-group-addon">
                <i class="fa fa-users fa-fw"></i>
              </span>
              <select class="custom-select" style="max-width: 257px; min-width: 257px;"
                      formControlName="departamento"
                      >
                <option value="">Selecciona...</option>
                <option *ngFor="let departamento of listOptions.departamento" [value]="departamento.id">{{ departamento.name }}</option>
              </select>
            </div>
          </div>

          <!-- Puesto -->
          <div *ngIf="flagLoading['puesto']">
            <button type="button" class="btn btn-outline-primary btn-block" disabled><i class="fa fa-spinner fa-pulse fa-fw"></i> Cargando</button>
          </div>
          <div class="form-group row" *ngIf="formCambioPuesto.controls['ciudad'].valid && flagExists['puesto'] && !flagLoading['puesto']">
            <label class="col-4 col-form-label">Puesto</label>
            <div class="col-8 input-group">
              <span class="input-group-addon">
                <i class="fa fa-user fa-fw"></i>
              </span>
              <select class="custom-select" style="max-width: 257px; min-width: 257px;"
                      formControlName="puesto"
                      >
                <option value="">Selecciona...</option>
                <option *ngFor="let puesto of listOptions.puesto" [ngValue]="puesto.id">{{ puesto.name }}</option>
              </select>
            </div>
          </div>

          <!-- Comentarios -->
          <div class="form-group row" [ngClass]="{ 'has-danger': !formCambioPuesto.controls['comentarios'].valid }" *ngIf="formCambioPuesto.controls['puesto'].valid">
            <label class="col-4 col-form-label">Comentarios</label>
            <div class="col-8 input-group">
              <span class="input-group-addon">
                <i class="fa fa-calendar-o fa-fw"></i>
              </span>
              <input
                formControlName="comentarios"
                class="form-control" type="text" value="">
            </div>
            <div class="col-12 form-control-feedback" *ngIf="formCambioPuesto.controls['comentarios']._errors?.required">
              <div><small>Es importante que ingreses tus comentarios de la solicitud</small></div>
            </div>
          </div>

          <!-- Reemplazable -->
          <div class="form-group row" [ngClass]="{ 'has-danger': !formCambioPuesto.controls['reemplazable'].valid }" *ngIf="formCambioPuesto.controls['puesto'].valid">
            <label class="col-4 col-form-label"></label>
            <div class="col-8 input-group">
              <label class="custom-control custom-checkbox" >
                <input type="checkbox" class="custom-control-input"
                        formControlName="reemplazable" [indeterminate]="true">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Reemplazable</span>
              </label>
            </div>
            <div class="col-12 form-control-feedback" *ngIf="formCambioPuesto.controls['reemplazable']._errors?.indeterminate">
              <div><small>Elige si la vacante será o no reemplazable</small></div>
            </div>
          </div>


          <!-- Fecha Liberacion -->
          <!-- <div class="form-group row"> -->
          <div class="form-group row" [ngClass]="{ 'has-danger': !formCambioPuesto.controls['fechaLiberacion'].valid }" *ngIf="formCambioPuesto.controls['reemplazable'].value == true">
            <label class="col-4 col-form-label">Fecha Liberación</label>
            <div class="col-8 input-group">
              <span class="input-group-addon">
                <i class="fa fa-calendar-o fa-fw"></i>
              </span>
              <input
                daterangepicker
                formControlName="fechaLiberacion"
                [options]="singlePicker"
                (selected)="setVal($event.start, 'fechaLiberacion')"
                class="form-control uneditable-input" type="text" value="">
            </div>
            <div class="col-12 form-control-feedback" *ngIf="formCambioPuesto.controls['fechaLiberacion']._errors?.required">
              <div><small>La fecha de liberación es requerida cuando la vacante es reemplazable</small></div>
            </div>
            <div class="col-12 form-control-feedback" *ngIf="formCambioPuesto.controls['fechaLiberacion']._errors?.lessFechaLiberacion">
              <div><small>La fecha de liberación debe ser menor o igual a la fecha de Cambio</small></div>
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="saveAlert">
            <span><strong>Hubo un error en el proceso</strong></span><br>
            <span>
              {{ errorMsg }}
            </span><br>
            <span>Por favor notifícalo a WFM</span>
          </div>
          <div class="d-flex flex-row-reverse">
            <button
                    [disabled]="formCambioPuesto.invalid || retrieving"
                    type="button"
                    [ngClass]="{ 'btn-outline-secondary': formCambioPuesto.invalid, 'btn-success': !formCambioPuesto.invalid }"
                    class="btn"
                    (click)="submit()">Enviar  <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="retrieving"></i></button>
          </div>

        </form>
