<div class="container-fluid">

    <div class="row d-flex justify-content-center alert alert-primary" role="alert" style="font-size: small" *ngIf="!hideHead">
        <div class="p-1">
            <select class="custom-select" [(ngModel)]="countrySelected" (change)="getQList( $event.target.value )">
          <option value="">Selecciona un pais...</option>
          <option [value]="country" *ngFor="let country of qData | keys">
            {{ country }}
          </option>
        </select>
            <div class="d-flex justify-content-center">
                <div><small>{{ dataQ[0] ? printTime(dataQ[0]['Last_Update'], 'YYYY-MM-DD HH:mm:ss') : 'NA' }}</small></div>
            </div>
        </div>
        <div class="p-1 text-center">
            <p>
                <ui-switch color="green" size="small" [(ngModel)]="viewParams['displays']['v1']['active']"></ui-switch>
            </p>
            <p><small>1</small></p>
        </div>
        <div class="p-1 text-center">
            <p>
                <ui-switch color="green" size="small" [(ngModel)]="viewParams['displays']['v2']['active']"></ui-switch>
            </p>
            <p><small>2</small></p>
        </div>
        <div class="p-1 text-center">
            <p>
                <ui-switch color="green" size="small" [(ngModel)]="viewParams['displays']['v3']['active']"></ui-switch>
            </p>
            <p><small>3</small></p>
        </div>
        <div class="p-1 text-center">
            <p>
                <ui-switch color="green" size="small" [(ngModel)]="viewParams['displays']['v4']['active']"></ui-switch>
            </p>
            <p><small>4</small></p>
        </div>
        <div class="p-1 text-center">
            <p>
                <ui-switch color="green" size="small" [(ngModel)]="viewParams['displays']['v5']['active']"></ui-switch>
            </p>
            <p><small>5</small></p>
        </div>
        <div class="d-flex justifay-content-between flex-wrap text-center border border-info">
            <div class="p-1">
                <p>
                    <ui-switch color="green" size="small" [(ngModel)]="viewParams['small']"></ui-switch>
                </p>
                <p><small>{{ viewParams['small'] ? 'Grande' : 'Pequeño' }}</small></p>
            </div>
            <div class="p-1">
                <p>
                    <ui-switch color="green" size="small" [(ngModel)]="viewParams['qs']"></ui-switch>
                </p>
                <p><small>Ver Qs</small></p>
            </div>
        </div>
        <div class='p-1'>
            <button class="btn btn-sm" [ngClass]="{'btn-outline-secondary': paused, 'btn-success': !paused}" (click)="pause()">
                <span *ngIf="!loading['data']">{{ paused ? 'Correr' : 'Pausar' }}</span>
                <small><span *ngIf="loading['data']"><i class="fas fa-spinner fa-pulse"></i></span></small>
            </button>
        </div>
        <!-- <ng-container *ngFor="let q of qData[countrySelected] | orderBy: 'name'">
          <div class='p-1' *ngFor="let queue of q['qs'] | orderBy: 'name'">
            <button class="btn btn-sm btn-outline-primary" (slick)="selectQ(queue)">{{ queue['name'] }}</button>
          </div>
        </ng-container> -->
    </div>
    <app-call-block #blockMain [totals]="totals" [useTotals]="useTotals" [hideHead]="hideHead" [ahtLimits]="ahtLimits" [qsDisplay]="viewParams['qs']" [countrySelected]="countrySelected" [qList]="qList" [data]="allQs[countrySelected]" [qData]="dataQ" [params]="viewParams['displays']['v1']"
        [display]="{sm: viewParams['small']}" *ngIf="viewParams['displays']['v1']['active']"></app-call-block>
    <ng-container *ngFor="let d of viewParams['displays'] | keys">
        <app-call-block (skillSel)="emitSkill($event)" [ahtLimits]="ahtLimits" [qsDisplay]="viewParams['qs']" [countrySelected]="countrySelected" [qList]="qList" [data]="allQs[countrySelected]" [qData]="dataQ" [params]="viewParams['displays'][d]" [display]="{sm: viewParams['small']}"
            *ngIf="viewParams['displays'][d]['active'] && d!='v1'"></app-call-block>
    </ng-container>

</div>