<!-- ================================================= -->
<!-- START Lazy Loader -->
<!-- ================================================= -->
<h1 *ngIf="loading['data']">Loading <i class="fas fa-spinner fa-pulse"></i></h1>
<!-- ================================================= -->
<!-- END Lazy Loader -->
<!-- ================================================= -->

<!-- ================================================= -->
<!-- START Main Container -->
<!-- ================================================= -->
<div class="container-fluid" *ngIf="dataTable">

  <!-- ================================================= -->
  <!-- START TABS FOR RESULTS -->
  <!-- ================================================= -->
  <ul class="nav nav-tabs" id="Tab" role="tablist">
    <li class="nav-item" *ngFor="let skills of dataTable | orderBy: 'dep'">
      <a class="nav-link" [ngClass]="{'active': skills['dep']=='Ventas MP' || skills['dep']=='Ventas MT - IN'}" [id]="skills['dep']+'-tab'" data-toggle="tab" [href]="'#'+skills['dep']" role="tab" [attr.aria-controls]="skills['dep']" aria-selected="false">{{ skills['dep'] }}</a>
    </li>
  </ul>
  <!-- ================================================= -->
  <!-- END TABS FOR RESULTS -->
  <!-- ================================================= -->

  <!-- ================================================= -->
  <!-- START TAB CONTENTS -->
  <!-- ================================================= -->
  <div class="tab-content" id="TabContent">
    <!-- ================================================= -->
    <!-- START TAB PANES -->
    <!-- ================================================= -->
    <div class="tab-pane fade" [ngClass]="{'show active': skills['dep']=='Ventas MP' || skills['dep']=='Ventas MT - IN'}" [id]="skills['dep']" role="tabpanel" [attr.aria-labelledby]="skills['dep']" *ngFor="let skills of dataTable | orderBy: 'dep'">
      <br>
      <!-- ================================================= -->
      <!-- START SUBTAB CONTENTS -->
      <!-- ================================================= -->
      <ul class="nav nav-tabs" id="TabSub" role="tablist">
        <ng-container *ngFor="let group of skills['data'] | orderBy: 'group'">
          <li class="nav-item" *ngIf="skills['data'].length > 2 || group['group']=='all'">
            <a class="nav-link" [ngClass]="{'active': group['group']=='all'}" [id]="'sub-'+skills['dep']+'-'+group['group']+'-tab'" data-toggle="tab" [href]="'#sub-'+skills['dep']+'-'+group['group']" role="tab" [attr.aria-controls]="'sub-'+skills['dep']+'-'+group['group']" aria-selected="false">{{ group['group'] }}</a>
          </li>
        </ng-container>
      </ul>
      <!-- ================================================= -->
      <!-- END SUBTAB CONTENTS -->
      <!-- ================================================= -->

      <!-- ================================================= -->
      <!-- START TAB CONTAINER -->
      <!-- ================================================= -->
      <div class="tab-content" id="TabContentSub">
        <!-- ================================================= -->
        <!-- START LOOP FOR CONTAINERS -->
        <!-- ================================================= -->
        <ng-container *ngFor="let group of skills['data'] | orderBy: 'group'">
          <div style="overflow-x: auto" class="tab-pane fade" [ngClass]="{'show active': group['group']=='all'}" [id]="'sub-'+skills['dep']+'-'+group['group']" role="tabpanel" [attr.aria-labelledby]="'sub-'+skills['dep']+'-'+group['group']">

            <!-- ================================================= -->
            <!-- START RESULT TABLE -->
            <!-- ================================================= -->
            <table style="font-size: smaller" class='table table-sm table-bordered table-striped'>
              <!-- ================================================= -->
              <!-- START TABLE HEADERS -->
              <!-- ================================================= -->
              <thead class="thead-light">
                <tr>
                  <th *ngFor="let item of fields"  class='text-center'>{{ item['name'] }}</th>
                </tr>
              </thead>
              <!-- ================================================= -->
              <!-- END TABLE HEADERS -->
              <!-- ================================================= -->
              <!-- ================================================= -->
              <!-- START TABLE BODY -->
              <!-- ================================================= -->
              <tbody>
                <ng-container *ngFor="let date of group['data'] | orderBy: 'date'">
                  <!-- ================================================= -->
                  <!-- START DATA ROWS -->
                  <!-- ================================================= -->
                  <tr *ngIf="date['date'] != 'Total'">
                    <td *ngFor="let item of fields" class='text-center'>
                      <span [ngSwitch]="item['tipo']">
                        <span *ngSwitchCase="'fecha'">{{ date['date'] }}</span>
                        <span *ngSwitchCase="'monto'">{{ date['data'][item['field']] | currency:'MXN':'symbol-narrow':'.2-2' }}</span>
                        <span *ngSwitchCase="'perc'">{{ (date['data'][item['field']] * 100) | number:'.0-2' }}%</span>
                        <span *ngSwitchCase="'numero'">{{ date['data'][item['field']] | number:'.0-2' }}</span>
                        <span *ngSwitchCase="'texto'">{{ date['data'][item['field']] }}</span>
                      </span>
                    </td>
                  </tr>
                  <!-- ================================================= -->
                  <!-- END DATA ROWS -->
                  <!-- ================================================= -->

                  <!-- ================================================= -->
                  <!-- START TOTALS ROW -->
                  <!-- ================================================= -->
                  <tr class='table-primary' *ngIf="date['date'] == 'Total'">
                    <th *ngFor="let item of fields"  class='text-center'>
                      <span [ngSwitch]="item['tipo']">
                        <span *ngSwitchCase="'fecha'">{{ date['date'] }}</span>
                        <span *ngSwitchCase="'monto'">{{ date['data'][item['field']] | currency:'MXN':'symbol-narrow':'.2-2' }}</span>
                        <span *ngSwitchCase="'perc'">{{ (date['data'][item['field']] * 100) | number:'.0-2' }}%</span>
                        <span *ngSwitchCase="'numero'">{{ date['data'][item['field']] | number:'.0-2' }}</span>
                        <span *ngSwitchCase="'texto'"></span>
                      </span>
                    </th>
                  </tr>
                  <!-- ================================================= -->
                  <!-- END TOTALS ROW -->
                  <!-- ================================================= -->
                </ng-container>
              </tbody>
              <!-- ================================================= -->
              <!-- END TABLE BODY -->
              <!-- ================================================= -->
            </table>
            <!-- ================================================= -->
            <!-- END RESULT TABLE -->
            <!-- ================================================= -->
          </div>
        </ng-container>
        <!-- ================================================= -->
        <!-- END LOOP FOR CONTAINERS -->
        <!-- ================================================= -->
      </div>
      <!-- ================================================= -->
      <!-- END TAB CONTAINER -->
      <!-- ================================================= -->
    </div>
    <!-- ================================================= -->
    <!-- END TAB PANES -->
    <!-- ================================================= -->
  </div>
  <!-- ================================================= -->
  <!-- END TAB CONTENTS -->
  <!-- ================================================= -->
</div>
<!-- ================================================= -->
<!-- END Main Container -->
<!-- ================================================= -->
