<div class="alert alert-danger" role="alert" *ngIf="!showContents">
    <p>No cuentas con los permisos para poder visualizar este módulo. Por favor contacta a <span class="font-weight-bold">WFM</span> si necesitas accesos.</p>
</div>
<div class="container-fluid" *ngIf="showContents">

    <!-- TITLE -->
    <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div>
                    <span><h1 class="display-3">Reporte de Incentivos Cancún</h1></span>
                    <p class="lead">Parámetros, resultados y consulta de bonos</p>
                </div>
            </div>
            <div class="container">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="viewParams['month']" id="mes">
              <option [value]="mes" *ngFor="let mes of months">{{ mes }}</option>
            </select>
                    </div>
                    <div class="col-auto">
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="viewParams['year']" id="año">
              <option [value]="year" *ngFor="let year of years">{{ year }}</option>
            </select>
                    </div>
                </div>
            </div>
            <div class="container p-2 d-flex justify-content-left">
                <div class="m-1">
                    <button type="button" class="btn btn-success" (click)="getBonos()" [disabled]="loading['bonos']">Consultar <span *ngIf="loading['bonos']"><i class="fas fa-spinner fa-pulse"></i></span></button>
                </div>
                <div class="m-1" *ngIf="bonosData">
                    <button type="button" class="btn btn-warning">Descargar</button>
                </div>
            </div>
        </div>
    </div>


    <mat-tab-group *ngIf="bonosData">
        <ng-container *ngFor="let dep of dataSum | orderBy:'name'">
            <mat-tab [label]="dep['name']" *ngIf="dep['puestos'].length > 0">
                <ng-container *ngFor="let p of dep['puestos'] | orderBy:'name'">

                    <div class="container" *ngIf="p['params']">
                        <div class="alert alert-primary" role="alert">
                            <div class="m-1">
                                <span class="font-weight-bold">{{ dep['name'] }}</span> ({{ p['name'] }}) -> {{ p['montoBono'] | currency:'MXN':'symbol-narrow':'.2-2' }}
                                <br>
                                <div class="m-1 p-0 container bg-light">
                                    <table style="font-size: smaller" class="table table-sm table-striped table-bordered">
                                        <thead>
                                            <th>Parámetro</th>
                                            <th>Cumplimiento</th>
                                            <th>Topado</th>
                                            <th>Peso</th>
                                            <th>Monto</th>
                                            <th>Reductor</th>
                                            <th>Condición</th>
                                            <th>Por Incidencia</th>
                                            <th>Peso</th>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let i of parList">
                                                <tr *ngIf="p['params']['par_'+i] != null || p['params']['red_par_'+i] != null">
                                                    <td>{{ (p['params']['par_'+i] == null ? '' : p['params']['par_'+i]) }}</td>
                                                    <td>{{ (p['params']['par_'+i] == null ? '' : p['params']['cum_'+i] | percent:'.2-2') }}</td>
                                                    <td>{{ (p['params']['par_'+i] == null ? '' : p['params']['tope_'+i] == 1 ? 'Sí' : 'No') }}</td>
                                                    <td>{{ (p['params']['par_'+i] == null ? '' : p['params']['perc_'+i] | percent:'.2-2') }}</td>
                                                    <td>{{ (p['params']['par_'+i] == null ? '' : (p['params']['perc_'+i] * p['params']['monto']) | currency:'MXN':'symbol-narrow':'.2-2') }}</td>
                                                    <td>{{ (p['params']['red_par_'+i] == null ? '' : p['params']['red_par_'+i]) }}</td>
                                                    <td>{{ (p['params']['red_par_'+i] == null ? '' : p['params']['red_op_'+i] + ' ' + p['params']['red_comp_'+i] ) }}</td>
                                                    <td>{{ (p['params']['red_par_'+i] == null ? '' : p['params']['red_xInc_'+i] == 1 ? 'Sí' : 'No') }}</td>
                                                    <td>{{ (p['params']['red_par_'+i] == null ? '' : p['params']['red_perc_'+i] | percent:'.2-2') }}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <table style="font-size: smaller" class="table table-sm table-striped table-bordered table-hover" [id]="dep['name']+p['name']">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: top">Asesor</th>
                                    <th class="text-center" style="vertical-align: top">Aplicable</th>
                                    <ng-container *ngFor="let item of p['params'] | keys">
                                        <ng-container *ngIf="p['params'][item] != null && matchPar(item, 'par')">
                                            <th class="text-center" style="vertical-align: top">{{ p['params'][item].replace('c_','').replace('_', ' ').replace('_', ' ') | capitalizado:true }}</th>
                                            <th class="text-center" style="vertical-align: top">{{ p['params'][item].replace('c_','').replace('_', ' ').replace('_', ' ') | capitalizado:true }}<br>{{ matchPar(item, 'red') ? '%' : 'monto' }}</th>
                                        </ng-container>
                                    </ng-container>
                                    <th class="text-center" style="vertical-align: top">Monto<br>Bono</th>
                                    <th class="text-center" style="vertical-align: top">Monto<br>Reductores</th>
                                    <th class="text-center" style="vertical-align: top">Monto<br>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let asesor of p['asesores'] | orderBy:'name'">

                                    <tr>
                                        <td>{{ asesor['name'] }}</td>
                                        <td class="text-center">{{ asesor['aplica'] == 1 ? 'Sí' : 'No'}}</td>
                                        <ng-container *ngFor="let item of p['params'] | keys">
                                            <ng-container *ngIf="p['params'][item] != null && matchPar(item, 'par')">
                                                <td class="text-center">{{ (asesor['detalle'][p['params'][item]] * ( percMatch( p['params'][item] ) ? 100 : 1 )) | number:'.0-2' }}{{ percMatch( p['params'][item]) ? '%' : '' }}</td>
                                                <td class="text-center text-danger" *ngIf="matchPar(item, 'red')">{{ (asesor['reductores'][p['params'][item]]*100) | number:'.2-2' }}%</td>
                                                <td class="text-center" *ngIf="!matchPar(item, 'red')">{{ (asesor['bono'][p['params'][item]]) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                                            </ng-container>
                                        </ng-container>
                                        <td class='text-right'>{{ (sumBono(dep['key'], p['key'], asesor['key'], 'bono')) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                                        <td class='text-danger text-right'>{{ sumBono(dep['key'], p['key'], asesor['key'], 'red') | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
                                        <th class='text-right'>
                                            <app-bono-approve (save)="paySave($event, dep['key'], p['key'])" [reload]="reload[asesor['key']]" [total]="sumBono(dep['key'], p['key'], asesor['key'], 'total')" [status]="asesor['aprobacion']" [params]="paramsDataAsk" [nombre]="asesor['name']" [asesor]="asesor['key']"></app-bono-approve>
                                        </th>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center" style="vertical-align: top">Total</th>
                                    <th class="text-center" style="vertical-align: top"></th>
                                    <ng-container *ngFor="let item of p['params'] | keys">
                                        <ng-container *ngIf="p['params'][item] != null && matchPar(item, 'par')">
                                            <th class="text-center" style="vertical-align: top"></th>
                                            <th class="text-center" style="vertical-align: top"></th>
                                        </ng-container>
                                    </ng-container>
                                    <th class="text-center" style="vertical-align: top"></th>
                                    <th class="text-center" style="vertical-align: top"></th>
                                    <th class="text-center" style="vertical-align: top">{{ total[dep['key']][p['key']] | currency:'MXN':'symbol-narrow':'.2-2' }}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <br>
                </ng-container>
            </mat-tab>
        </ng-container>
    </mat-tab-group>