<mat-accordion>
    <mat-expansion-panel *ngFor="let item of data">
        <mat-expansion-panel-header collapsedHeight="100px">
            <mat-panel-title>
                <div class="p-1 d-flex justify-content-start flex-wrap" [style.width.px]="150">
                    <div class='p-1'>{{ item['name'] }}</div>
                    <div class='p-1'><small>{{ item['clave'] }}</small></div>
                </div>
            </mat-panel-title>
            <mat-panel-description>
                <div class="p-1 d-flex justify-content-end flex-wrap" [style.width.px]="90">
                    <small><span [style.width.px]="45" class="badge badge-primary badge-pill">HC: {{ item['hc'] }}</span></small>
                    <small><span [style.width.px]="45" class="badge badge-success badge-pill">C: {{ item['c'] }}</span></small>
                    <small><span [style.width.px]="45" class="badge badge-danger badge-pill">V: {{ item['v'] }}</span></small>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- -->
        <mat-accordion>
            <mat-expansion-panel *ngFor="let p of item['puesto']">
                <mat-expansion-panel-header collapsedHeight="100px">
                    <mat-panel-title>
                        <div class="p-1 d-flex justify-content-start flex-wrap" [style.width.px]="150">
                            <div class='p-1'>{{ p['name'] }}</div>
                            <div class='p-1'><small>{{ p['clave'] }}</small></div>
                        </div>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="p-1 d-flex justify-content-end flex-wrap" [style.width.px]="90">
                            <small><span [style.width.px]="45" class="badge badge-primary badge-pill">HC: {{ p['hc'] }}</span></small>
                            <small><span [style.width.px]="45" class="badge badge-success badge-pill">C: {{ p['c'] }}</span></small>
                            <small><span [style.width.px]="45" class="badge badge-danger badge-pill">V: {{ p['v'] }}</span></small>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- <small>{{ p['clave'] }}</small> -->
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let a of p['copc']">
                        <mat-expansion-panel-header collapsedHeight="100px">
                            <mat-panel-title>
                                <div class="p-1 d-flex justify-content-start flex-wrap" [style.width.px]="150">
                                    <div class='p-1'>{{ a['name'] }}</div>
                                    <div class='p-1'><small>{{ a['clave'] }}</small></div>
                                </div>
                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="p-1 d-flex justify-content-end flex-wrap" [style.width.px]="90">
                                    <small><span [style.width.px]="45" class="badge badge-primary badge-pill">HC: {{ a['hc'] }}</span></small>
                                    <small><span [style.width.px]="45" class="badge badge-success badge-pill">C: {{ a['c'] }}</span></small>
                                    <small><span [style.width.px]="45" class="badge badge-danger badge-pill">V: {{ a['v'] }}</span></small>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!-- <small>{{ a['clave'] }}</small> -->
                        <div class="card-body" style="background: #f8f9fa">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let asesor of a['asesores']">
                                    <p class="text-truncate" [ngClass]="{'text-danger': asesor['asesor'] == null,'text-success': asesor['asesor'] != null}">{{ asesor['asesor'] == null ? 'VACANTE' : asesor['asesor'] }} {{ asesor['asesor'] == null ? '('+asesor['liberacion']+')' : '' }}</p>
                                    <p class="text-truncate" *ngIf="asesor['Aprobada']" style="font-size: xx-small">Liberada <span class="text-success">{{ asesor['Aprobada'] }}</span> por {{ asesor['AprobadaPor'] }}</p>
                                    <p class="text-truncate text-info" style="font-size: xx-small">id: {{ asesor['vacante'] }} || {{ asesor['Ciudad'] }}</p>
                                    <p class="text-truncate text-info" style="font-size: xx-small">{{ asesor['PDV'] }}</p>
                                </li>
                            </ul>
                        </div>

                    </mat-expansion-panel>

                </mat-accordion>

            </mat-expansion-panel>

        </mat-accordion>

    </mat-expansion-panel>

</mat-accordion>