<div class="jumbotron">
  <h1 class="display-3">Bienvenido a ComeyCome</h1>
  <span class="lead">
    <ul>
      <li>Consulta tu detalle de ventas</li>
      <li>Revisa el avance de tus equipos de Supervisión</li>
      <li>Analiza los KPI's de tu departamento</li>
      <li>Monitorea la venta en vivo</li>
      <li>Controla el desborde, abandono y SLA</li>
      <li>Haz consultas en tiempo real</li>
      <li>Revisa datos históricos de ventas, nómina, telefonía y performance</li>
    </ul>
  </span>
  <hr class="my-4">
  <p>Para ingresar, es necesario estar dado de alta en el sistema y contar con una cuenta de PriceTravel.</p>
  <p>Para visitantes externos, es necesario obtener una cuenta personalizada</p>
</div>
