  <div class="d-flex justify-content-around">
    <div class="ml-auto p-1">
      <button class="btn btn-sm btn-outline-info" style="width: 30px"><small>j: </small></button>
    </div>
    <div class="p-1">
      <button
        class="btn btn-sm"
        [ngClass]="{'btn-info':               Descanso!=1 && start!=null,
                    'btn-outline-secondary':  Descanso!=1 && start==null}"
        style="width: 100px"
        data-toggle="collapse" [attr.data-target]="'#jDetail_'+rac+'_'+date" aria-expanded="false" [attr.aria-controls]="'#jDetail_'+rac+'_'+date">
          <small *ngIf="Descanso==1">Descanso</small>
          <small *ngIf="Descanso!=1 && start!=null">{{ printTimeInterval(date, start, end) }}</small>
          <small *ngIf="Descanso!=1 && start==null">*</small>
          <small><i *ngIf="Descanso!=1 && start!=null && (perCumplimiento( rac, date, 'jornada', 'j')!=100) && showOpts.sh_d" class="fa fa-fw fa-caret-square-o-down"></i></small>
          <div
            class="progress border"
            [ngClass]="{'border-danger':  perCumplimiento( rac, date, 'jornada', 'j') < 60 || SalidaAnticipada == '1',
                        'border-light': perCumplimiento( rac, date, 'jornada', 'j') >= 60 && SalidaAnticipada != '1'}"
            style="height: 5px"
            *ngIf="Descanso!=1 && (start!=end) && showOpts.sh_p">
            <div class="progress-bar"
                [ngClass]="{'bg-danger':  perCumplimiento( rac, date, 'jornada', 'j') < 60 || SalidaAnticipada == '1',
                            'bg-warning': (perCumplimiento( rac, date, 'jornada', 'j') >= 60 && perCumplimiento( rac, date, 'jornada', 'j') < 100) && SalidaAnticipada != '1',
                            'bg-success': perCumplimiento( rac, date, 'jornada', 'j') >= 100 && SalidaAnticipada != '1'}"
                role="progressbar"
                [style.width.%]="perCumplimiento( rac, date, 'jornada', 'j')"
                [attr.aria-valuenow]="100"
                aria-valuemin="0"
                aria-valuemax="100">
            </div>
          </div>
      </button>
    </div>
  </div>
  <div class="collapse" id="jDetail_{{rac}}_{{date}}" *ngIf="Descanso!=1 && start!=null && (perCumplimiento( rac, date, 'jornada', 'j')!=100) && showOpts.sh_d">
    <div class="card card-body" style="font-size: 9px">
      <p class="d-flex justify-content-between">
        <span>Log Inicio: </span>
        <span
        [ngClass]="{'text-danger':  login != start,
                    'text-success': login == start}"
        style="text-align: right">
          {{ login }}
        </span>
      </p>
      <p class="d-flex justify-content-between">
        <span>Log Fin: </span>
        <span
        [ngClass]="{'text-danger':  logout != end,
                    'text-success': logout == end}"
        style="text-align: right">
          {{ logout }}
        </span>
      </p>
      <p class="d-flex justify-content-between">
        <span>% Cumplido: </span>
        <span
        [ngClass]="{'text-danger':  perCumplimiento( rac, date, 'jornada', 'j') < 70,
                    'text-warning': perCumplimiento( rac, date, 'jornada', 'j') >= 70 && perCumplimiento( rac, date, 'jornada', 'j') < 95,
                    'text-success': perCumplimiento( rac, date, 'jornada', 'j') >= 95}"
        style="text-align: right">
            {{ perCumplimiento( rac, date, 'jornada', 'j') }}%
        </span>
      </p>
    </div>
  </div>
