<div class="alert alert-danger" role="alert" *ngIf="!showContents">
    <p>No cuentas con los permisos para poder visualizar este módulo. Por favor contacta a <span class="font-weight-bold">WFM</span> si necesitas accesos.</p>
</div>

<div *ngIf="showContents">
    <div class="container-fluid">
        <!-- TITLE -->
        <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn mb-1">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <span><h1 class="display-3">Registro de CxC's</h1></span>
                        <p class="lead">Ingresa CxC's de Responsabilidad y/o Colaborador, con los detalles para enviarse a RRHH</p>
                    </div>
                    <div>
                        <img src="assets/img/bePriceBCO.png" height="150" width="150" alt="">
                    </div>
                </div>
            </div>
            <br>
            <div class='container d-flex justify-content-start flex-wrap'>
                <div class='m-1'>
                    <select class="custom-select" [(ngModel)]="searchType">
                      <option value="Fecha">Fecha</option>
                      <option value="Localizador">Localizador</option>
                      <option value="asesor">Asesor</option>
                    </select>
                </div>
                <div class='m-1'>
                    <div class="input-group" *ngIf="searchType == 'Fecha'">
                        <input class="form-control" style="z-index: 1000" autocomplete="off" placeholder="yyyy-mm-dd" [autoClose]="false" (click)="d.toggle()" id="picker" name="dp" ngbDatepicker #d="ngbDatepicker" [dayTemplate]="t" (dateSelect)="onDateSelection($event, d)">
                        <ng-template #t let-date="date" style="z-index: 1000" let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                 {{ date.day }}
               </span>
                        </ng-template>
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-calendar fa-fw"></i></div>
                        </div>
                    </div>
                    <div class="input-group" *ngIf="searchType == 'asesor'">
                        <app-search-asesor (result)="onSelected( $event )" [currentUser]="currentUser" [active]="2" placeholder="Buscar Asesor"></app-search-asesor>
                    </div>
                    <div class="input-group" *ngIf="searchType == 'Localizador'">
                        <input class="form-control" type="text" placeholder="Localizador" [(ngModel)]="searchTerm['Localizador']">
                    </div>
                </div>
                <div class="m-1">
                    <button class="btn btn-success" (click)="getCxc()" [disabled]="loading['cxc']">Buscar <span *ngIf="loading['cxc']"><i class="fas fa-spinner fa-pulse"></i></span></button>
                </div>
                <div class="m-1">
                    <button class="btn btn-warning" (click)="_add.nuevo()" *ngIf="_init.checkSingleCredential('cxc_edit')">Agregar CxC</button>
                </div>
            </div>
            <div class='container pt-2 d-flex justify-content-start'>
                <div class='p-1 text-center'>
                    <ui-switch color="green" size="small" [(ngModel)]="moreInfo"></ui-switch>
                    <p><small>Mostrar Todo</small></p>
                </div>
                <div class='p-1 text-center'>
                    <ui-switch color="green" size="small" [(ngModel)]="onlyReg" (change)="getCxc($event)"></ui-switch>
                    <p><small>Sólo con Registro</small></p>
                </div>
                <div class='p-1 text-center'>
                    <ui-switch color="green" size="small" [(ngModel)]="noTx" (change)="getCxc( $event ? false : onlyReg, $event)"></ui-switch>
                    <p><small>Sin Transacción</small></p>
                </div>
                <div class='p-1 text-center'>
                    <ui-switch color="green" size="small" [(ngModel)]="resumed" (change)="getCxc( $event ? false : true, false, $event )"></ui-switch>
                    <p><small>Resumido</small></p>
                </div>
                <div class='p-1 text-center'>
                    <button class="btn btn-info" (click)="dwlFormat()">Descargar Formato</button>
                </div>
            </div>
            <iframe id="dwlFrame" src="assets/img/bePriceBCO.png" style="display:none;"></iframe>
        </div>

        <div class="container-fluid p-0 mt-0" *ngIf="bajas.length > 0">
            <div class="alert alert-danger m-0 p-0" role="alert">
                <ul style="font-size: smaller" class="m-0 p-0 pl-5">
                    <li class="m-0 p-0" *ngFor="let item of bajas">El loc <button (click)="goToLoc(item['localizador'])" style="font-size: smaller" class="btn btn-link p-0">{{ item['localizador'] }}</button> requiere ajuste por baja del asesor {{ item['Asesor'] }} ({{ item['Dep'] }})</li>
                </ul>
            </div>
        </div>

        <div class='container-fluid pt-2' *ngIf="data && data.length > 0">
            <h1 class="text-center" *ngIf="loading['cxc']">LOADING... <i class="fas fa-spinner fa-pulse"></i></h1>
            <table class='table table-sm table-bordered table-striped table-hover' style='font-size: smaller' *ngIf="!loading['cxc']">
                <thead>
                    <tr>
                        <ng-container *ngIf="!moreInfo">
                            <th class="text-center">id</th>
                            <th class="text-center">transactionId</th>
                            <th class="text-center">Localizador</th>
                            <th class="text-center">dtCreated</th>
                            <th class="text-center">montoFiscal</th>
                            <th class="text-center">cxcIdLink</th>
                            <th class="text-center">asesor</th>
                            <th class="text-center">totalCxc</th>
                            <th class="text-center">status</th>
                            <th class="text-center">tipo</th>
                            <th class="text-center">firmado</th>
                            <th class="text-center">comments</th>
                            <th class="text-center">created_by</th>
                            <th class="text-center">posibleLinks</th>
                            <th class="text-center">Formato</th>
                            <th class="text-center">NQ</th>
                            <th class="text-center">Link</th>
                            <th class="text-center">Related</th>
                        </ng-container>
                        <ng-container *ngIf="moreInfo">
                            <th class="text-center" *ngFor="let title of data[0] | keys">{{ title }}</th>
                            <th class="text-center">Link</th>
                            <th class="text-center">Related</th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data; index as i">
                        <ng-container *ngIf="loading['save'][item['cxcIdLink']]">
                            <td colspan=100 class="text-center">Loading <i class="fas fa-spinner fa-pulse"></i></td>
                        </ng-container>
                        <ng-container *ngIf="moreInfo && !loading['save'][item['cxcIdLink']]">
                            <ng-container *ngFor="let title of item | keys">
                                <td class="text-center" [ngSwitch]="title">
                                    <span *ngSwitchCase="'status'">
                                        <div *ngIf="item['asesor']" class="btn-group">
                                            <button class="btn btn-sm" [style.width.px]=110 [ngClass]="{'btn-danger': item['status'] == '0','btn-info': item['status'] == '1','btn-success': item['status'] == '2'}" type="button">
                                                    {{ item['status'] ? (item['status'] == '0' ? 'En Revision' : item['status'] == '1' ? 'Espera RRHH' : 'Aplicado') : '' }}
                                            </button>
                                            <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" *ngIf="_init.checkSingleCredential('cxc_edit')">
                                        <button class="dropdown-item text-danger" (click)="editCxc('status', '0', item['cxcIdLink'])" type="button" *ngIf="item['status']!='2'">En revisión</button>
                                        <button class="dropdown-item text-info" (click)="editCxc('status', '1', item['cxcIdLink'])" type="button" [disabled]="item['Formato'] == 0 || !item['id']" *ngIf="item['status']!='2'">Enviar a RRHH <span class="text-danger"><small style="font-size: smaller">{{ item['Formato'] == 0 ? ' (Requiere subir el formato primero)' : '' }}</small></span></button>
                                        <button class="dropdown-item text-success" (click)="aprobe(item)" type="button" *ngIf="_init.checkSingleCredential('cxc_apply')" [disabled]="item['status']=='2'">Aplicar</button>
                                    </div>
        </div>
        </span>
        <span *ngSwitchCase="'tipo'">
                                      <button class="btn btn-sm" [ngClass]="{'btn-info': item['tipo'] == 0,'btn-success': item['tipo'] == 1}">
                                        {{ item['tipo'] ? (item['tipo'] == 0 ? 'Responsabilidad' : 'Colaborador') : '' }}
                                      </button>
        </span>
        <span *ngSwitchCase="'firmado'">
                <div *ngIf="item['asesor']" class="btn-group">
                        <button class="btn btn-sm" [style.width.px]=110 [ngClass]="{'btn-danger': item['firmado'] == '0','btn-success': item['firmado'] == '1'}" type="button">
                            {{ item['firmado'] ? (item['firmado'] == 0 ? 'No Firmado' : 'Firmado') : '' }}
                        </button>
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" *ngIf="_init.checkSingleCredential('cxc_edit')">
            <button class="dropdown-item text-danger" type="button" (click)="editCxc('firmado', 0, item['cxcIdLink'])">No Firmado</button>
            <button class="dropdown-item text-success" type="button" (click)="editCxc('firmado', 1, item['cxcIdLink'])">Firmado</button>
        </div>
    </div>
    </span>
    <span *ngSwitchCase="'Formato'">
                                        <div *ngIf="item['cxcIdLink']">
                                            <button class='btn btn-sm btn-warning' (click)="viewCxc( true, item['cxcIdLink'] )" *ngIf="item['Formato'] == 0" [disabled]="!_init.checkSingleCredential('cxc_edit')"><i class="fas fa-upload"></i></button>
                                            <button class='btn btn-sm btn-info' (click)="viewCxc( false, item['cxcIdLink'] )" *ngIf="item['Formato'] == 1"><i class="fas fa-eye"></i></button>
                                        </div>
                                    </span>
    <span *ngSwitchCase="'Localizador'">
                                        <a href="https://rsv.pricetravel.com.mx/reservations/show/{{item['Localizador']}}" target="_blank">{{ item['Localizador'] }}</a>
                                    </span>
    <span *ngSwitchDefault>
                                    {{ title == 'monto' || title == 'montoFiscal' || title == 'totalCxc' ? (item[title] | currency:'MXN':'symbol-narrow':'.2-2') : item[title] }}
                                  </span>
    </td>
    </ng-container>
    </ng-container>
    <ng-container *ngIf="!moreInfo && !loading['save'][item['cxcIdLink']]">
        <td class="text-center">{{ item['id'] }}</td>
        <td class="text-center">{{ item['transactionId'] }}</td>
        <td class="text-center"><a href="https://rsv.pricetravel.com.mx/reservations/show/{{item['Localizador']}}" target="_blank">{{ item['Localizador'] }}</a></td>
        <td class="text-center">{{ item['dtCreated'] }}</td>
        <td class="text-center">{{ item['montoFiscal'] | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
        <td class="text-center">{{ item['cxcIdLink'] }}</td>
        <td class="text-center">{{ item['asesor'] }}</td>
        <td class="text-center">{{ item['totalCxc'] | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
        <td class="text-center">
            <div *ngIf="item['asesor']" class="btn-group">
                <button class="btn btn-sm" [style.width.px]=50 [ngClass]="{'btn-danger': item['status'] == '0','btn-info': item['status'] == '1','btn-success': item['status'] == '2'}" type="button">
                                            {{ item['status'] ? (item['status'] == '0' ? 'E.R.' : item['status'] == '1' ? 'RH' : 'Ap') : '' }}
                                    </button>
                <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only" >Toggle Dropdown</span>
                                    </button>
                <div class="dropdown-menu" *ngIf="_init.checkSingleCredential('cxc_edit')">
                    <button class="dropdown-item text-danger" (click)="editCxc('status', '0', item['cxcIdLink'])" type="button" *ngIf="item['status']!='2'">En revisión</button>
                    <button class="dropdown-item text-info" (click)="editCxc('status', '1', item['cxcIdLink'])" type="button" *ngIf="item['status']!='2'" [disabled]="item['Formato'] == 0 || !item['id']">Enviar a RRHH <span class="text-danger"><small style="font-size: smaller">{{ item['Formato'] == 0 ? ' (Requiere subir el formato primero)' : '' }}</small></span></button>
                    <button class="dropdown-item text-success" (click)="aprobe(item)" type="button" *ngIf="_init.checkSingleCredential('cxc_apply')" [disabled]="item['status']=='2'">Aplicar</button>
                </div>
            </div>
            <td class="text-center">
                <button class="btn btn-sm" [style.width.px]=50 [ngClass]="{'btn-info': item['tipo'] == 0,'btn-success': item['tipo'] == 1}">
                                    {{ item['tipo'] ? (item['tipo'] == 0 ? 'Resp.' : 'Col.') : '' }}
                                </button>
            </td>
            <td class="text-center">
                <div *ngIf="item['asesor']" class="btn-group">
                    <button class="btn btn-sm" [style.width.px]=50 [ngClass]="{'btn-danger': item['firmado'] == '0','btn-success': item['firmado'] == '1'}" type="button">
                                <span *ngIf="item['firmado'] == '1'"><i class="fas fa-file-signature"></i></span>
                                <span *ngIf="item['firmado'] == '0'"><i class="fas fa-file-signature"></i></span>
                            </button>
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
            </button>
                    <div class="dropdown-menu" *ngIf="_init.checkSingleCredential('cxc_edit')">
                        <button class="dropdown-item text-danger" type="button" (click)="editCxc('firmado', 0, item['cxcIdLink'])">No Firmado</button>
                        <button class="dropdown-item text-success" type="button" (click)="editCxc('firmado', 1, item['cxcIdLink'])">Firmado</button>
                    </div>
                </div>
            </td>
            <td class="text-center">{{ item['comments'] }} <button class="btn btn-sm btn-link" *ngIf="item['comments'] && _init.checkSingleCredential('cxc_edit')" (click)="_comment.build(item['cxcIdLink'], item['comments'])"><i class="far fa-edit"></i></button></td>
            <td class="text-center">{{ item['created_by'] }}</td>
            <td class="text-center">{{ item['posibleLinks'] }}</td>
            <td class="text-center">
                <div *ngIf="item['cxcIdLink']">
                    <button class='btn btn-sm btn-warning' (click)="viewCxc( true, item['cxcIdLink'] )" *ngIf="item['Formato'] == 0" [disabled]="!_init.checkSingleCredential('cxc_edit')"><i class="fas fa-upload"></i></button>
                    <button class='btn btn-sm btn-info' (click)="viewCxc( false, item['cxcIdLink'] )" *ngIf="item['Formato'] == 1"><i class="fas fa-eye"></i></button>
                </div>
            </td>
            <td class="text-center">{{ item['NQ'] }}</td>
    </ng-container>
    <td class="text-center"><button class='btn btn-sm btn-success' (click)="getLinkable(item['Localizador'], item['id'], item['cxcIdLink'])" [disabled]="!item['id']">Link</button></td>
    <td class="text-center"><button class='btn btn-sm' [ngClass]="{'btn-info': (item['cxcIdLink'] != null && item['cxcIdLink'] != ''),'btn-secondary': (item['cxcIdLink'] == null || item['cxcIdLink'] == '')}" (click)="_link.open(item['Localizador'], item['cxcIdLink'], null, 1)"
            [disabled]="item['cxcIdLink'] == null || item['cxcIdLink'] == ''">View</button></td>
    </tr>
    </tbody>
    </table>
</div>

<!-- Link CXC -->
<app-cxc-link (save)="linked( $event )" (add)="addCxC($event)"></app-cxc-link>

<!-- Add CXC -->
<app-cxc-add [currentUser]="currentUser" (save)="linkInserted($event)"></app-cxc-add>

<!-- Comment CXC -->
<app-cxc-comment (save)="commentSave($event)"></app-cxc-comment>

<!-- Aprobe CxC -->
<app-cxc-aprobe (save)="saveAprobe( $event )"></app-cxc-aprobe>

<!-- Send Cxc RRHH -->
<app-cxc-send-rh (save)="editCxc( 'status', 1, $event['id'], true, $event['status'], $event['value'] )"></app-cxc-send-rh>

<!-- Upload Image -->
<app-upload-image (loadResult)="upldCheck( $event )"></app-upload-image>

<!-- Modal -->
<div class="modal fade" id="showDocument" tabindex="-1" role="dialog" aria-labelledby="showDocumentLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img alt='image' class='img rounded img-fluid' style='margin: auto;' [src]="documentImage" (error)="updateImg($event)" id="shownDocument">
            </div>
            <div class="modal-footer" *ngIf="_init.checkSingleCredential('cxc_delete')">
                <div class="d-flex justify-content-end">
                    <div class='p-2'><button class="btn btn-secondary" data-dismiss="modal">Cerrar</button></div>
                    <div class='p-2'><button class="btn btn-danger" (click)="deleteImage()" [disabled]="loading['delete']">Borrar <i class="fa fa-fw fa-trash"></i> <span *ngIf="loading['delete']"><i class="fa fa-fw fa-spinner fa-pulse"></i></span></button></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>