<div class="alert alert-danger" role="alert" *ngIf="!showContents">
    <p>No cuentas con los permisos para poder visualizar este módulo. Por favor contacta a <span class="font-weight-bold">WFM</span> si necesitas accesos.</p>
</div>

<div *ngIf="showContents">

    <div class="container-fluid">
        <!-- TITLE -->
        <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <span><h1 class="display-3">{{ surveyData['master'] ? surveyData['master']['name'] : 'Formularios' }}</h1></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center text-info" *ngIf="loading['survey']">
        <h1>Cargando Formulario... <i class="fas fa-spinner fa-pulse"></i></h1>
    </div>
    <div class='container-fluid' *ngIf="formReady">
        <div class="container">
            <div class="row">
                <div [ngClass]="{'col-7': surveyData['master']['quickDisplay'] == '1', 'col-12': surveyData['master']['quickDisplay'] != '1'}" id='surveyDiv'>
                    <form class="form-group" [formGroup]="form" (ngSubmit)="saveForm()">
                        <ng-container *ngFor="let field of surveyData['fields']">
                            <ng-container *ngIf="field['showStart'] == '1' || (field['parent'] && field['trigger'] && field['trigger'].indexOf( parse(form.value[field['parent']])) >= 0)">
                                <div class="form-group row">
                                    <label for="f_{{ field['id'] }}" class="col-sm-2 col-form-label">{{ field['titulo'] ? field['titulo'][form.value[field['parent']]] : field['name'] }}  <button *ngIf="field['type'] == 'date'" type="button" class='p-0 pl-1 btn btn-link text-info' (click)="form.controls[field['id']].reset()"><i class="fas fa-times"></i></button></label>
                                    <ng-container *ngIf="field['type'] == 'text'">
                                        <div class="col-sm-8">
                                            <input [ngClass]="{'is-invalid': (!form.controls[field['id']].valid && form.controls[field['id']]['errors']['pattern']) || (validateFlag && !form.controls[field['id']].valid && form.controls[field['id']]['errors']['required'])}" [formControlName]="field['id']"
                                                type="text" class="form-control" id="f_{{ field['id'] }}" name="n_{{ field['id'] }}" [readonly]="field['hiddenField'] == '1'">
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field['type'] == 'asesor'">
                                        <div class="col-sm-8">
                                            <div class="form-group row">
                                                <app-search-asesor (result)="onSelectedAsesor( $event, field['id'] )" [currentUser]="currentUser" [active]="2" placeholder="Asesor"></app-search-asesor>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field['type'] == 'affiliate'">
                                        <div class="col-sm-8">
                                            <div class="form-group row">
                                                <app-autocomplete-affiliate (result)="onSelectedAffiliate( $event, field['id'] )" [active]="2" placeholder="Afiliado"></app-autocomplete-affiliate>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field['type'] == 'time'">
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input [format]="24" [ngxTimepicker]="timeInput" [min]="'03:15 am'" [ngClass]="{'is-invalid': (!form.controls[field['id']].valid && form.controls[field['id']]['errors']['pattern']) || (validateFlag && !form.controls[field['id']].valid && form.controls[field['id']]['errors']['required'])}"
                                                    [formControlName]="field['id']" type="text" class="form-control" id="f_{{ field['id'] }}" name="n_{{ field['id'] }}" [readonly]="field['hiddenField'] == '1'">
                                                <ngx-material-timepicker [enableKeyboardInput]="true" #timeInput></ngx-material-timepicker>
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field['type'] == 'date'">
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input daterangepicker [options]="singlePicker" type="text" (selected)="setVal($event.start, field['id'])" [ngClass]="{'is-invalid': (!form.controls[field['id']].valid && form.controls[field['id']]['errors']['pattern']) || (validateFlag && !form.controls[field['id']].valid && form.controls[field['id']]['errors']['required'])}"
                                                    [formControlName]="field['id']" autocomplete="off" type="text" class="form-control" id="f_{{ field['id'] }}" name="n_{{ field['id'] }}" [readonly]="field['hiddenField'] == '1'">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field['type'] == 'datetime'">
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input daterangepicker [options]="singlePicker" type="text" (selected)="setValDT($event.start, field['id'], 'date')" [ngClass]="{'is-invalid': (!form.controls[field['id']].valid && form.controls[field['id']]['errors']['pattern']) || (validateFlag && !form.controls[field['id']].valid && form.controls[field['id']]['errors']['required'])}"
                                                    [formControlName]="field['id']" autocomplete="off" type="text" class="form-control" id="f_{{ field['id'] }}" name="n_{{ field['id'] }}" [readonly]="field['hiddenField'] == '1'">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input [format]="24" [ngxTimepicker]="dateTimeInput" [min]="'03:15 am'" [ngClass]="{'is-invalid': (!form.controls[field['id']].valid && form.controls[field['id']]['errors']['pattern']) || (validateFlag && !form.controls[field['id']].valid && form.controls[field['id']]['errors']['required'])}"
                                                    type="text" class="form-control" id="f_{{ field['id'] }}_b" name="n_{{ field['id'] }}_b" [readonly]="field['hiddenField'] == '1'">
                                                <ngx-material-timepicker [enableKeyboardInput]="true" (timeSet)="setValDT($event, field['id'], 'time')" #dateTimeInput></ngx-material-timepicker>
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field['type'] == 'select'">
                                        <div class="col-sm-8">
                                            <select [ngClass]="{'is-invalid': (!form.controls[field['id']].valid && form.controls[field['id']]['errors']['pattern']) || (validateFlag && !form.controls[field['id']].valid && form.controls[field['id']]['errors']['required'])}" [formControlName]="field['id']"
                                                (change)="resetChilds(field['id'], $event.target.value )" style="max-width:100%" class="custom-select col-sm-10" id="f_{{ field['id'] }}" name="n_{{ field['id'] }}">
                                    <option value=''>Selecciona...</option>
                                    <ng-container *ngFor="let opt of field['opts']">
                                    <option [value]="opt['id']" *ngIf="opt['showAlways'] == '1' || (field['parent'] && parse(opt['showIF']) == form.value[field['parent']])">{{ opt['name'] }}</option>
                                    </ng-container>
                                </select>
                                        </div>
                                    </ng-container>
                                    <div class="col-sm-2">
                                        <p style="font-size:smaller" class="text-danger" *ngIf="!form.controls[field['id']].valid && form.controls[field['id']]['errors']['pattern']">
                                            El formato debe ser de tipo: {{ field['formato'] }}
                                        </p>
                                        <p style="font-size:smaller" class="text-danger" *ngIf="validateFlag && !form.controls[field['id']].valid && form.controls[field['id']]['errors']['required']">
                                            El campo es obligatorio
                                        </p>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <div class="d-flex justify-content-end">
                            <div class='p-1'>
                                <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
                            </div>
                            <div class='p-1'>
                                <button type="submit" class="btn btn-success" [disabled]="loading['save']">Guardar <span *ngIf="loading['save']"><i class="fas fa-spinner fa-pulse"></i></span></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-5" *ngIf="surveyData['master']['quickDisplay'] == '1'">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputFilter">Filtro</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Filtro Opciones" aria-describedby="inputFilter" [(ngModel)]="filterValue">
                    </div>
                    <ul>
                        <ng-container *ngFor="let field of surveyData['fields']">
                            <ng-container *ngIf="field['quickDisplay'] == '1'">
                                <ng-container *ngFor="let opt of field['opts']">
                                    <li *ngIf="opt['name'].toLowerCase().match(filterValue.toLowerCase()) && filterValue.length > 0 && !optsFilter[parse(opt['id'])]['isTrigger']">
                                        <button class="btn btn-sm btn-link text-warning" (click)="quickSet([ opt['showIF'] ? (optsFilter[opt['showIF']]['showIF'] ? (optsFilter[optsFilter[opt['showIF']]['showIF']]['id'] ? [surveyData['fields'][findIndex( surveyData['fields'], 'id', field['parent'] )]['parent'], optsFilter[optsFilter[opt['showIF']]['showIF']]['id']] : null) : null) : null, opt['showIF'] ? (optsFilter[opt['showIF']]['id'] ? [field['parent'], optsFilter[opt['showIF']]['id']] : null) : null, [field['id'], opt['id']]])"><i class="fas fa-crosshairs"></i> </button>
                                        <span class="text-danger" *ngIf="opt['showIF'] && optsFilter[opt['showIF']]['showIF'] && optsFilter[optsFilter[opt['showIF']]['showIF']]">{{ optsFilter[optsFilter[opt['showIF']]['showIF']]['name'] }} >> </span>
                                        <span class="text-primary" *ngIf="opt['showIF'] && optsFilter[opt['showIF']]">{{ optsFilter[opt['showIF']]['name'] }} >> </span>
                                        <span class="text-success">{{ opt['name'] }}</span>
                                    </li>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
        <div class='container'>
            <app-surv-historic [divHeight]="surveyHeight" [asesor]="currentUser['hcInfo']['id']" [master]="surveyData['master']['id']"></app-surv-historic>
        </div>


    </div>

</div>