<div class="alert alert-danger" role="alert" *ngIf="!showContents">
  <p>No cuentas con los permisos para poder visualizar este módulo. Por favor contacta a <span class="font-weight-bold">WFM</span> si necesitas accesos.</p>
</div>
<div class="container-fluid" *ngIf="showContents">
  <div class="container-fluid">

    <!-- FILTROS -->
    <div class="row">

      <!-- MARCA Y PAIS -->
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1 d-flex justify-content-center">

        <!-- MARCA -->
        <div class="p-1 d-flex align-items-center">
          <div class="btn-group p-1 align-middle">
          <button type="button" class="btn btn-sm btn-info">
            <span>{{ params['marca'] }}</span>
          </button>
          <button type="button" class="btn btn-sm btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button" (click)="chgMarca('Marcas Propias')">Marcas Propias</button>
            <button class="dropdown-item" type="button" (click)="chgMarca('Marcas Terceros')">Marcas Terceros</button>
          </div>
        </div>
        </div>

        <!-- PAIS -->
        <div class="p-1 d-flex align-items-center">
          <div class="btn-group p-1 align-middle">
          <button type="button" class="btn btn-sm btn-info">
            <span>{{ params['pais'] }}</span>
          </button>
          <button type="button" class="btn btn-sm btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button" (click)="chgPais('MX')">MX</button>
            <button class="dropdown-item" type="button" (click)="chgPais('CO')">CO</button>
          </div>
        </div>
        </div>

      </div>

      <!-- EMPTY -->
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

        <div class="d-flex justify-content-center align-items-center">

          <!-- Detail -->
          <div class="p-2 text-center">
            <p><ui-switch
              color="green"
              size= "small"
              [(ngModel)]="yd"
              (change)="chgCompare( $event )"
            ></ui-switch></p>
            <p><small>Var {{ params['compare'] }}</small></p>
          </div>

          <!-- Detail -->
          <div class="p-2 text-center">
            <p><ui-switch
              color="green"
              size= "small"
              [(ngModel)]="detail"
            ></ui-switch></p>
            <p><small>Detalle</small></p>
          </div>

          <!-- Producto -->
          <div class="p-2 text-center animated fadeIn" *ngIf="detail">
            <p><ui-switch
              color="green"
              size= "small"
              [(ngModel)]="detailView['producto']"
            ></ui-switch></p>
            <p><small>Producto</small></p>
          </div>
          <div class="p-2 text-center animated fadeIn" *ngIf="detail">
            <p><ui-switch
              color="green"
              size= "small"
              [(ngModel)]="detailView['paq']"
              (change)="chgPaq( $event )"
            ></ui-switch></p>
            <p><small>Paq Desg</small></p>
          </div>

          <!-- Locs -->
          <div class="p-2 text-center animated fadeIn" *ngIf="detail">
            <p><ui-switch
              color="green"
              size= "small"
              [(ngModel)]="detailView['locs']"
            ></ui-switch></p>
            <p><small>Locs</small></p>
          </div>

          <!-- FC -->
          <div class="p-2 text-center animated fadeIn" *ngIf="detail">
            <p><ui-switch
              color="green"
              size= "small"
              [(ngModel)]="detailView['fc']"
            ></ui-switch></p>
            <p><small>FC</small></p>
          </div>

          <!-- Live -->
          <div class="p-2 text-center">
            <p><ui-switch
              color="green"
              size= "small"
              [(ngModel)]="monitor"
              (change)="refresh( $event )"
            ></ui-switch></p>
            <p><small>Live!</small></p>
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center" *ngIf="!monitor">
          <div class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="chgDate()" [displayMonths]="1">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fas fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- SOLO VENTA O VENTA Y XLD || RELOAD BUTTON-->
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">

        <!-- SOLO VENTA PICKER -->
        <div class="p-1 d-flex align-items-center">
          <div class="btn-group p-1 align-middle">
          <button type="button" class="btn btn-sm btn-info">
            <span>{{ params['montoSV'] == 'MontoSV' ? 'Solo Venta' : 'Venta y Cxl' }}</span>
          </button>
          <button type="button" class="btn btn-sm btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button" (click)="chgSV('MontoSV')">Solo Venta</button>
            <button class="dropdown-item" type="button" (click)="chgSV('MontoAll')">Venta y Cxl</button>
          </div>
        </div>
        </div>

        <!-- RELOAD BUTTON -->
        <div class="p-1 d-flex align-items-center">
          <div class="p-1 align-middle">
          <button type="button" class="btn btn-outline-success" (click)="getData()" [disabled]="loading['venta']">{{ loading['venta'] ? 'Loading...' : 'Reload' }} <span *ngIf="loading['venta']"><i class="fas fa-spinner fa-pulse"></i></span></button>
        </div>
        </div>
      </div>

      <!-- LAST UPDATE -->
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="text-center">
          <span>Last Update: {{ lu }}</span>
        </div>
        <div class="text-center">
          <span>Reload in {{ timerCount }} sec.</span>
        </div>
      </div>

    </div>

  </div>

  <!-- DASH BODY -->
  <div class="container-fluid">
    <div class="row" *ngFor="let canal of ventaData | keys">
      <ng-container *ngFor="let group of gpos">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngIf="ventaData[canal][group] || (group == 'Total' && canal)">

          <!-- CARD POR GPO Y gpoCanalKpi -->
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center p-0 pl-1" [style.backgroundColor]="ventaData[canal]['color']">

              <!-- GPO Y gpoCanalKpi -->
              <div class="p-2">
                <h3 class='align-middle'>{{ group }}</h3>
                <p><small>{{ canal }}</small></p>
              </div>

              <!-- MONTO TOTAL HEADER -->
              <div class="p-2 d-flex justify-content-end align-items-center">
                <div class="p-2">
                  <h3 class='align-middle text-right font-weight-bold text-light' style="-webkit-text-stroke: 1px #969696;">{{ currencyDispl(group == 'Total' ? getTotal(canal, 'td', params['montoSV']) : getVal( canal, group, params['montoSV'], 'td' )) | currency:'MXN':'symbol-narrow':'.2-2' }}{{ suf }}</h3>
                  <div class="d-flex justify-content-end">
                    <span
                      placement="bottom" ngbTooltip="{{ currencyDispl(group == 'Total' ? getTotal(canal, params['compare'], params['montoSV']) : getVal( canal, group, params['montoSV'], params['compare'] )) | currency:'MXN':'symbol-narrow':'.2-2' }}{{ suf }}"
                      class="badge badge-pill text-center ml-1"
                      [ngClass]="compare(canal, group, params['montoSV'], 'td', params['compare'], 'class')"
                      [style.width.px]="80">
                        <small>var {{ params['compare'] }}: {{ compare(canal, group, params['montoSV'], 'td', params['compare'], '%') | number:'.0-0' }}%</small>
                    </span>
                    <span
                      placement="bottom" ngbTooltip="{{ currencyDispl(group == 'Total' ? getTotal(canal, 'ly', params['montoSV']) : getVal( canal, group, params['montoSV'], 'ly' )) | currency:'MXN':'symbol-narrow':'.2-2' }}{{ suf }}"
                      class="badge badge-pill text-center ml-1"
                      [ngClass]="compare(canal, group, params['montoSV'], 'td', 'ly', 'class')"
                      [style.width.px]="80">
                        <small>var ly: {{ compare(canal, group, params['montoSV'], 'td', 'ly', '%') | number:'.0-0' }}%</small>
                    </span>
                  </div>
                </div>
              </div>

            </div>

            <!-- SUMMARY BODY -->
            <div class="card-body" *ngIf="detail">

              <ng-container *ngIf="detailView['locs']">
                <!-- AV TKT -->
                <app-kpis-detail
  [marca]="params['marca']"
  [pais]="params['pais']"
                  [item]="'Av Tkt'"
                  [monto]="(group == 'Total' ? getTotal(canal, 'td', 'Locs' ) : getVal( canal, group, 'Locs', 'td' )) == 0 ? 0 : ((group == 'Total' ? getTotal(canal, 'td', params['montoSV'], item) : getVal( canal, group, params['montoSV'], 'td', item )) / (group == 'Total' ? getTotal(canal, 'td', 'Locs' ) : getVal( canal, group, 'Locs', 'td' )))"
                  [mYd]="(group == 'Total' ? getTotal(canal, params['compare'], 'Locs' ) : getVal( canal, group, 'Locs', params['compare'] )) == 0 ? 0 : ((group == 'Total' ? getTotal(canal, params['compare'], params['montoSV'], item) : getVal( canal, group, params['montoSV'], params['compare'], item )) / (group == 'Total' ? getTotal(canal, params['compare'], 'Locs' ) : getVal( canal, group, 'Locs', params['compare'] )))"
                  [mLy]="(group == 'Total' ? getTotal(canal, 'ly', 'Locs' ) : getVal( canal, group, 'Locs', 'ly' )) == 0 ? 0 : ((group == 'Total' ? getTotal(canal, 'ly', params['montoSV'], item) : getVal( canal, group, params['montoSV'], 'ly', item )) / (group == 'Total' ? getTotal(canal, 'ly', 'Locs' ) : getVal( canal, group, 'Locs', 'ly' )))"
                  [yd]="yd"
                  >
                </app-kpis-detail>

                <!-- Locs -->
                <app-kpis-detail
  [marca]="params['marca']"
  [pais]="params['pais']"
                  [item]="'Locs'"
                  [mFlag]="false"
                  [yd]="yd"
                  [int]="(group == 'Total' ? getTotal(canal, 'td', 'Locs' ) : getVal( canal, group, 'Locs', 'td' ))"
                  [iYd]="(group == 'Total' ? getTotal(canal, params['compare'], 'Locs' ) : getVal( canal, group, 'Locs', params['compare'] ))"
                  [iLy]="(group == 'Total' ? getTotal(canal, 'ly', 'Locs' ) : getVal( canal, group, 'Locs', 'ly' ))"
                  [iUnit]="' '">
                </app-kpis-detail>
              </ng-container>

              <ng-container *ngIf="detailView['fc']">
                <!-- Calls -->
                <app-kpis-detail
  [marca]="params['marca']"
  [pais]="params['pais']"
                  [item]="'Calls'"
                  [mFlag]="false"
                  [yd]="yd"
                  [int]="(group == 'Total' ? getTotal(canal, 'td', 'callsTotal' ) : getVal( canal, group, 'callsTotal', 'td' ))"
                  [iYd]="(group == 'Total' ? getTotal(canal, params['compare'], 'callsTotal' ) : getVal( canal, group, 'callsTotal', params['compare'] ))"
                  [iLy]="(group == 'Total' ? getTotal(canal, 'ly', 'callsTotal' ) : getVal( canal, group, 'callsTotal', 'ly' ))"
                  [iUnit]="' '"
                  [iLoad]="loading['calls']"
                  [naFlag]="!callsCheck(canal, group)"
                  >
                </app-kpis-detail>

                <!-- FC -->
                <app-kpis-detail
  [marca]="params['marca']"
  [pais]="params['pais']"
                  [item]="'FC'"
                  [mFlag]="false"
                  [yd]="yd"
                  [int]="(group == 'Total' ? getTotal(canal, 'td', 'calls' ) : getVal( canal, group, 'calls', 'td' )) == 0 ? 0 : (group == 'Total' ? getTotal(canal, 'td', 'Locs' ) : getVal( canal, group, 'Locs', 'td' )) / (group == 'Total' ? getTotal(canal, 'td', 'calls' ) : getVal( canal, group, 'calls', 'td' )) * 100"
                  [iYd]="(group == 'Total' ? getTotal(canal, params['compare'], 'calls' ) : getVal( canal, group, 'calls', params['compare'] )) == 0 ? 0 : (group == 'Total' ? getTotal(canal, params['compare'], 'Locs' ) : getVal( canal, group, 'Locs', params['compare'] )) / (group == 'Total' ? getTotal(canal, params['compare'], 'calls' ) : getVal( canal, group, 'calls', params['compare'] )) * 100"
                  [iLy]="(group == 'Total' ? getTotal(canal, 'ly', 'calls' ) : getVal( canal, group, 'calls', 'ly' )) == 0 ? 0 : (group == 'Total' ? getTotal(canal, 'ly', 'Locs' ) : getVal( canal, group, 'Locs', 'ly' )) / (group == 'Total' ? getTotal(canal, 'ly', 'calls' ) : getVal( canal, group, 'calls', 'ly' )) * 100"
                  [iUnit]="'%'"
                  [naFlag]="!callsCheck(canal, group)"
                  >
                </app-kpis-detail>
              </ng-container>

              <ng-container *ngIf="detailView['producto']">
                <ng-container *ngFor="let item of services">
                  <!-- INFO POR SERVICIO -->
                  <app-kpis-detail
  [marca]="params['marca']"
  [pais]="params['pais']"
                    [item]="item"
                    [yd]="yd"
                    [monto]="(group == 'Total' ? getTotal(canal, 'td', params['montoSV'], item) : getVal( canal, group, params['montoSV'], 'td', item ))"
                    [mYd]="(group == 'Total' ? getTotal(canal, params['compare'], params['montoSV'], item) : getVal( canal, group, params['montoSV'], params['compare'], item ))"
                    [mLy]="(group == 'Total' ? getTotal(canal, 'ly', params['montoSV'], item) : getVal( canal, group, params['montoSV'], 'ly', item ))"
                    [int]="item == 'Hotel' || item == 'Paquete' ? (group == 'Total' ? getTotal(canal, 'td', 'newRN', item) : getVal( canal, group, 'newRN', 'td', item )) : ''"
                    [iYd]="item == 'Hotel' || item == 'Paquete' ? (group == 'Total' ? getTotal(canal, params['compare'], 'newRN', item) : getVal( canal, group, 'newRN', params['compare'], item )) : ''"
                    [iLy]="item == 'Hotel' || item == 'Paquete' ? (group == 'Total' ? getTotal(canal, 'ly', 'newRN', item) : getVal( canal, group, 'newRN', 'ly', item )) : ''"
                    [iUnit]="item == 'Hotel' || item == 'Paquete' ? 'RN' : ''"
                    [xint]="(group == 'Total' ? getTotal(canal, 'td', 'Locs', item) : getVal( canal, group, 'Locs', 'td', item ))"
                    [xYd]="(group == 'Total' ? getTotal(canal, params['compare'], 'Locs', item) : getVal( canal, group, 'Locs', params['compare'], item ))"
                    [xLy]="(group == 'Total' ? getTotal(canal, 'ly', 'Locs', item) : getVal( canal, group, 'Locs', 'ly', item ))"
                    [xUnit]="'ML'"
                    *ngIf="!detailView['paq'] || (detailView['paq'] && item != 'Paquete')">
                  </app-kpis-detail>
                </ng-container>
              </ng-container>

            </div>

          </div>

        </div>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let item of glosario | orderBy: 'concept'">
      <small><span class='font-weight-light font-italic'><span class="font-weight-bold">{{ item['concept'] }}: </span>{{ item['exp'] }}</span></small>
    </div>
  </div>
</div>
