<div *ngIf="showContents">

    <div class="container-fluid">
        <!-- TITLE -->
        <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <span><h1 class="display-3">Administración de CxCs</h1></span>
                        <p class="lead">Módulo de consulta y edición de CxCs aplicados y listos para aplicar</p>
                    </div>
                    <div>
                        <img src="assets/img/bePriceBCO.png" height="150" width="150" alt="">
                    </div>
                </div>
            </div>
            <br>
            <div class='container'>
                <div class="d-flex justify-content-start">
                    <div class="form-group p-2">
                        <div class="col-sm-12 input-group">
                            <select class="custom-select" (change)="selectedCorte( $event )">
                <option value="" *ngIf="!listCortesFlag">Cargando... <i class="fa fa-fw fa-spinner fa-pulse"></i></option>
                <ng-container *ngIf="listCortesFlag">
                  <option value="">Selecciona el corte a mostrar</option>
                  <option [value]="listCortes[item]['id']" *ngFor="let item of listCortes | keys">
                    {{ listCortes[item]['name'] }}
                  </option>
                </ng-container>
              </select>
                        </div>
                    </div>
                    <div class="p-2 ml-auto">
                        <button type="button" class="btn btn-warning" *ngIf="_corte.dataCxcs" (click)="downloadXLS('listCxc', 'listCxc')">Descargar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <app-corte (msg)="showMsg( $event )" (success)="showMsgSuc( $event )" (statusChg)="statusChg( $event )"></app-corte>
    </div>



</div>