.sidebarStyle {
    height: 100%
}

.matNavbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.matContainer {
    position: relative;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 2;
}

.matContainerMain {
    position: relative;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 2;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}