<!-- TITLE -->
<div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <span><h1 class="display-3">Reportes Personalizados</h1></span>
                <p class="lead">Parámetros, resultados y consulta de bonos</p>
            </div>
        </div>
        <div class="container">
            <div class="form-row align-items-center">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [autoClose]="false" (click)="d.toggle()" id="picker" name="dp" ngbDatepicker #d="ngbDatepicker" [dayTemplate]="t" (dateSelect)="onDateSelection($event, d)">
                        <ng-template #t let-date="date" let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                            </span>
                        </ng-template>
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-calendar fa-fw"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container p-2 d-flex justify-content-left">
            <div class="m-1">
                <button type="button" class="btn btn-success" (click)="getBonos()" [disabled]="loading['bonos']">Consultar <span *ngIf="loading['bonos']"><i class="fas fa-spinner fa-pulse"></i></span></button>
            </div>
            <div class="m-1" *ngIf="bonosData">
                <button type="button" class="btn btn-warning">Descargar</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main-container">
    <router-outlet></router-outlet>
</div>

<app-login></app-login>