<div class="alert alert-danger" role="alert" *ngIf="!showContents">
  <p>No cuentas con los permisos para poder visualizar este módulo. Por favor contacta a <span class="font-weight-bold">WFM</span> si necesitas accesos.</p>
</div>
<div class="container-fluid" *ngIf="showContents">
  <div class="container-fluid">
    <!-- TITLE -->
    <div class="jumbotron jumbotron-fluid text-white blueBkg animated fadeIn">
      <div class="container">
        <div class="d-flex justify-content-between">
          <div>
            <span><h1 class="display-3">Prenómina</h1></span>
            <p class="lead">Consulta los resultados de prenómina para Operaciones</p>
          </div>
          <div>
            <img src="assets/img/bePriceBCO.png" height="150" width="150" alt="">
          </div>
        </div>
      </div>
      <div class="container">
        <p *ngIf="!listCortesFlag">Obteniendo fechas de cortes... <i class="fas fa-spinner fa-pulse"></i></p>
        <select class="custom-select" *ngIf="listCortesFlag" (change)="selectedCorte( $event.target.value )">
          <option value="">Selecciona el corte a mostrar</option>
          <option [value]="item.id" *ngFor="let item of listCortes">
            {{ item.name }}
          </option>
        </select>
        <div class="d-flex justify-content-start align-items-center">
          <div class="p-2" *ngFor="let item of loading | keys">
            <button type="button" class="btn btn-sm" [ngClass]="{'btn-info': loading[item], 'btn-success': !loading[item]}">{{ item }} <span *ngIf="!loading[item]"><i class="fas fa-check"></i></span><span *ngIf="loading[item]"><i class="fas fa-spinner fa-pulse"></i></span></button>
          </div>
          <button type="button" class="btn btn-outline-warning ml-auto" *ngIf="built" (click)="downloadXLS('prenomina', 'prenomina')">Descargar</button>
        </div>
      </div>
    </div>

    <div class="container-fluid" *ngIf="built" style="max-height=700px; overflow: auto">
      <table class="table table-responsive table-sm table-stripped" style="font-size: smaller" id='prenomina'>
        <thead>
          <tr>
            <th *ngFor="let field of dataAsesores[0] | keys">{{ field }}</th>
            <th>H. Extra</th>
            <th *ngFor="let header of tableHeaders">{{ header.t }}</th>
            <th>Reservas Empleado</th>
            <th>Locs. Reservas Empleado</th>
            <th>CxC</th>
            <th>Locs. CxC</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rac of dataAsesores | orderBy: 'CLAVE'">

            <ng-container *ngFor="let field of rac | keys">
                <td [ngSwitch]="field">
                  <span *ngSwitchCase="'Nombre_del_empleado'">{{ rac[field] | noAcentos }}</span>
                  <span *ngSwitchCase="'Salario'">{{ rac[field] | currency:'MXN':'symbol-narrow':'.2-2' }}</span>
                  <span *ngSwitchDefault>{{ rac[field]  }}</span>
                </td>
            </ng-container>

            <ng-container *ngIf="dataPrenom[rac['asesor']]; else noLog">
              <td>{{ (dataPrenom[rac['asesor']].hx).toFixed(2) }}</td>
              <ng-container *ngFor="let header of tableHeaders">
                <td *ngIf="header.type == 'd'">
                  <span>{{ dataPrenom[rac['asesor']][header.code] ? dataPrenom[rac['asesor']][header.code].days : 0 }}</span>
                </td>
                <td *ngIf="header.type == 'f'">
                  <span>{{ dataPrenom[rac['asesor']][header.code] ? printDates(dataPrenom[rac['asesor']][header.code].dates) : '-' }}</span>
                </td>
              </ng-container>
            </ng-container>
            <ng-template #noLog>
              <td>NA</td>
              <td *ngFor="let header of tableHeaders">NA</td>
            </ng-template>
            <td>{{ ( prenomCxc[rac['asesor']] ? prenomCxc[rac['asesor']]['1'].monto : 0 ) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
            <td>{{ ( prenomCxc[rac['asesor']] ? prenomCxc[rac['asesor']]['1'].detail : '' ) }}</td>
            <td>{{ ( prenomCxc[rac['asesor']] ? prenomCxc[rac['asesor']]['0'].monto : 0 ) | currency:'MXN':'symbol-narrow':'.2-2' }}</td>
            <td>{{ ( prenomCxc[rac['asesor']] ? prenomCxc[rac['asesor']]['0'].detail : '' ) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
