<div class="container-fluid">
    <div class="d-flex justify-content-start">
        <div class="btn-group m-1">
            <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Order By 1: {{ orderBy[0] }}
      </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" (click)="chgOrder(0, title)" *ngFor="let title of data[0] | keys">{{ title }}</button>
            </div>
        </div>
        <div class="btn-group m-1">
            <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Order By 2: {{ orderBy[1] }}
      </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" (click)="chgOrder(1, title)" *ngFor="let title of data[0] | keys">{{ title }}</button>
            </div>
        </div>
        <div class="btn-group m-1">
            <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Orden: {{ !order ? 'Ascendente' : 'Descendente' }}
      </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" (click)="chgOrder(3, false)">Ascendente</button>
                <button class="dropdown-item" type="button" (click)="chgOrder(3, true)">Descendente</button>
            </div>
        </div>
    </div>

    <hr>
    <pre>{{ orderBy | json }}</pre>
    <h3 *ngIf="loading['data']">Loading... <i class="fas fa-spinner fa-pulse text-info"></i></h3>
    <div class="d-flex justify-content-start flex-wrap">
        <div class="card bg-info m-1" style="width: 300px" *ngFor="let item of data">
            <div class="card-body">
                <h5 class="text-light text-truncate card-title">{{ item['Nombre'] }}</h5>
                <h6 class="text-light text-truncate card-subtitle mb-2 text-muted">{{ item['Supervisor'] }}</h6>
                <div class="d-flex justify-content-between">
                    <div class="text-center">
                        <span class="badge m-1" [ngbTooltip]="item['Locs'] + ' de ' + item['horas']" [ngClass]="formatBadge('Locs', item['LocsIndex'])">{{ item['LocsIndex'] }}</span>
                        <p style="font-size: smaller">Locs</p>
                    </div>
                    <div class="text-center">
                        <span class="badge m-1" [ngbTooltip]="item['AHT']+' seg.'" [ngClass]="formatBadge('Aht', item['AhtIndex'])">{{ item['AhtIndex'] }}</span>
                        <p style="font-size: smaller">AHT</p>
                    </div>
                    <div class="text-center">
                        <span class="badge m-1" [ngbTooltip]="(toNum(item['FC']) | number:'.2-2') +'%'" [ngClass]="formatBadge('Fc', item['FcIndex'])">{{ item['FcIndex'] }}</span>
                        <p style="font-size: smaller">FC</p>
                    </div>
                    <div class="text-center">
                        <span class="badge m-1" [ngbTooltip]="(toNum(item['MontoSV']) | currency:'MXN':'symbol-narrow':'.2-2') + ' de ' + ((toNum(item['Meta_minuto'])*toNum(item['horas'])*60) | currency:'MXN':'symbol-narrow':'.2-2')" [ngClass]="formatBadge('Monto', item['MontoIndex'])">{{ item['MontoIndex'] }}</span>
                        <p style="font-size: smaller">Monto</p>
                    </div>
                    <div class="text-center">
                        <span class="badge m-1" [ngClass]="formatBadge('Total', item['TotalIndex'])">{{ item['TotalIndex'] }}</span>
                        <p style="font-size: smaller">Total</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ul>
        <li *ngFor="let item of data">{{ item | json }}</li>
    </ul>
</div>