<div class="d-flex justify-content-start">
  <div class="p-1">
    {{ total | currency:'MXN':'symbol-narrow':'.2-2' }}
  </div>
  <div class="ml-auto p-1">
    <span class="badge badge-pill"
      [ngClass]="{
        'badge-danger': status['status']==2,
        'badge-success': status['status']==1,
        'badge-info': (status['status']== null || status['status']== 3) && status['review']==1, 'badge-secondary': status['review']!=1 && status['status'] == null}"
      >
      {{ status['status'] == 1 ? 'Pago' : status['status'] == 2 ? 'No-Pago' : status['review'] == 1 ? 'Review' : 'Pendiente' }}</span>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="loading['change']">
  <span><i class="fas fa-spinner fa-2x fa-pulse text-info"></i></span>
</div>
<div class="d-flex justify-content-between" *ngIf="enableEdit && !loading['change']">
  <div class="p-1">
    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" [attr.data-target]="'#exampleModal'+asesor" [disabled]="!enableEdit"><i class="far fa-edit"></i></button>
  </div>
  <div class="p-1">
    <button type="button" class="btn btn-sm btn-danger" [disabled]="!enableEdit || status['status'] == 2" (click)="chgStatus(2)"><i class="fas fa-ban"></i></button>
  </div>
  <div class="p-1">
    <button type="button" class="btn btn-sm btn-success" [disabled]="!enableEdit || status['status'] == 1" (click)="chgStatus(1)"><i class="fab fa-amazon-pay"></i></button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal{{ asesor }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Solicitud de Revision - {{ nombre }}</h5>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Solicitud</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" [(ngModel)]="reviewComments"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="loading['change']">Close</button>
        <button type="button" class="btn btn-primary" (click)="chgStatus(3)" [disabled]="loading['change']">Save changes <span *ngIf="loading['change']"><i class="fas fa-spinner fa-pulse"></i></span></button>
      </div>
    </div>
  </div>
</div>
