<ng-container *ngIf="thisDay >= 20">
    <div class="d-flex justify-content-center p-0">
        <div class="d-flex justify-content-center p-1">
            <p><small class="text-center text-danger" style="font-size: smaller">Modo Cierre</small></p>
        </div>
        <div class="p-1">
            <span [style.width.px]="40" class="badge badge-light border text-primary">{{ formatTime('dias') }} d</span><br>
            <!-- <p class="text-center text-primary"><small style="font-size: smaller">d</small></p> -->
        </div>
        <div class="p-1" *ngIf="!small">
            <span [style.width.px]="80" class="badge badge-light border">{{ formatTime('horas') }}:{{ formatTime('minutos') }}:{{ formatTime('segundos') }}</span><br>
            <!-- <p class="text-light text-center"><small style="font-size: smaller">h</small></p> -->
        </div>
    </div>
</ng-container>